<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.app.domain.vo.TestVO" alias="testVO"/>
        <typeAlias type="com.example.app.admin.vo.AdminLoginVO" alias="AdminLoginVO"/>
        <typeAlias type="com.example.app.security.dto.CustomUserDetails" alias="CustomUserDetails"/>
        

    </typeAliases>

</configuration>