<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.app.domain.vo.TestVO" alias="testVO"/>
        <typeAlias type="com.example.app.domain.vo.AuthStoreVO" alias="authStoreVO"/>
        <typeAlias type="com.example.app.domain.vo.ContractInfoVO" alias="contractInfoVO"/>
        <typeAlias type="com.example.app.domain.vo.CouponInfoVO" alias="couponInfoVO"/>
        <typeAlias type="com.example.app.domain.vo.HotelMstVO" alias="hotelMstVO"/>
        <typeAlias type="com.example.app.domain.vo.RankInfoVO" alias="rankInfoVO"/>
        <typeAlias type="com.example.app.domain.vo.RoomInfoVO" alias="roomInfoVO"/>
        <typeAlias type="com.example.app.domain.vo.UserCouponVO" alias="userCouponVO"/>
        <typeAlias type="com.example.app.user.dto.UserInfoVO" alias="userInfoVO"/>
        <typeAlias type="com.example.app.domain.vo.WishListVO" alias="wishListVO"/>
        <typeAlias type="com.example.app.admin.vo.AdminLoginVO" alias="adminLoginVO"/>
        <typeAlias type="com.example.app.security.dto.CustomUserDetails" alias="CustomUserDetails"/>
        <typeAlias type="com.example.app.hotel.vo.Top10HotelsVO" alias="top10HotelsVO"/>
    </typeAliases>
</configuration>