<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
    <link rel="stylesheet" href="/css/6e77cb14485b3a18.css">
    <link rel="stylesheet" href="/css/49ed35b58d7d245c.css">
    <link rel="stylesheet" href="/css/40d91952aa12e1a0.css">
    <link rel="stylesheet" href="/css/MyWidget.scss">
</head>

<body>
    <header class="GNB_HotelGNB__Kex7S">
        <div class="Header_Header__-Uqw2" data-fullbleed="true" data-service="hotel">
            <nav class="Header_top__uEukE">
                <div class="Header_inner__Bqg5f">
                    <a class="Header_naver__XtvKG" href="/main/home">
                        <span class="Header_label__oA3vw">HOME</span>
                    </a>
                    <a class="Header_home__nCI9O" href="">
                        <span class="Header_label__oA3vw">여행상품00</span>
                    </a>
                    <a class="Header_service__D0wGs" href="">
                        <span class="Header_label__oA3vw">여행정보00</span>
                    </a>
                    <div class="Header_sub__UgpHr">
                        <a class="Header_mypage__jXor0" href="/user/mypage/info" id="mypageInfoBtn"
                            style="display: none;">
                            <span class="Header_label__oA3vw">마이페이지</span>
                        </a>
                        <div class="Header_naver_gnb__aYORZ">
                            <div id="gnb" class="gnb_one">
                                <ul class="gnb_lst" id="gnb_lst" style="display: block">
                                    <li class="gnb_login_li" id="gnb_login_layer" style="display: inline-block">
                                        <a class="gnb_btn_login" href="/user/login" id="gnb_login_button">
                                            <span class="gnb_bg"></span>
                                            <span class="gnb_bdr"></span>
                                            <span class="gnb_txt">로그인</span>
                                        </a>
                                        <a class="gnb_btn_login" id="gnb_logout_button" style="display:none"
                                            onclick="logout()">
                                            <span class="gnb_bg"></span>
                                            <span class="gnb_bdr"></span>
                                            <span class="gnb_txt">로그아웃</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="Header_nav__fkngb">
                <div class="Header_inner__Bqg5f _nav">
                    <a class="Header_nav_item__x9mz1" href="/hotels/place">
                        <span class="Header_nav_item_text__zBZUG">지역</span>
                    </a>
                    <a class="Header_nav_item__x9mz1" href="/hotels/hotels">
                        <span class="Header_nav_item_text__zBZUG">호텔</span>
                    </a>
                    <a class="Header_nav_item__x9mz1" href="/hotels/room">
                        <span class="Header_nav_item_text__zBZUG">객실</span>
                    </a>
                    <a class="Header_nav_item__x9mz1" href="/user/mypage/info" hidden>
                        <span class="Header_nav_item_text__zBZUG">마이페이지</span>
                        <i class="Header_beta__WUbM-" title="beta"></i>
                    </a>
                    <a class="Header_nav_item__x9mz1" href="/board/faq">
                        <span class="Header_nav_item_text__zBZUG">FAQ</span>
                    </a>
                    <a class="Header_nav_item__x9mz1" href="/main/home">
                        <span class="Header_nav_item_text__zBZUG">홈</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/sessionManager.js"></script>
<script th:inline="javascript">

</script>

</html>