<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MY페이지 : 네이버 항공권/호텔</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
    <link rel="stylesheet" href="/css/mypage.css">
</head>

<body aria-haspopup="false">
    <div id="app">
        <div class="wrap">
            <!--*****header*****!-->
            <header th:replace="/main/header.html :: div"></header>
            <!--******body 시작*****!-->
            <div class="my_pc">
                <div class="info_section">
                    <div class="profile_area">
                        <div class="img_profile"><img
                                src="https://phinf.pstatic.net/contact/20210919_171/1632050475539NE3fj_JPEG/C5B2FB83-444F-4EE3-A585-88EB6954E074.jpeg"
                                alt="프로필 이미지">
                            <div style="display: none;"></div>
                        </div>
                        <div class="txt_profile"><strong class="txt_name">최신형</strong><span
                                class="txt_id">tl***********</span></div>
                    </div>
                    <div class="event_list">
                        <div class="Coupons">
                            <h5 class="title"><button class="button" aria-expanded="false"><span class="name">사용 가능한 쿠폰
                                        0장</span></button></h5>
                        </div>
                    </div>
                    <nav class="my_nav">
                        <ul class="nav_tabs">
                            <li class="nav_tab as_flight">
                                <button class="tab myinfo" data-target="info">내 정보</button>
                            </li>
                            <li class="nav_tab as_flight">
                                <button class="tab reserve">예약 내역</button>
                            </li>
                            <li class="nav_tab as_dibs">
                                <button class="tab wish">찜한 여행지</button>
                            </li>
                            <li class="nav_tab as_dibs">
                                <button class="tab review">리뷰</button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="content as_hotel">
                    <div class="content" id="info">
                        <div>
                            <div class="filter_area">
                                <div class="favorite_sortoptions">
                                    <span class="hotel_price" style="
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #242424;">예약 내역</span>
                                    <div class="SortOptions as_hotel" role="radiogroup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list_area">
                            <li class="list_selected">
                                <div class="type_hotel">
                                    <div class="info_detail is_active">
                                        <div>
                                            <div class="hotel_detail">
                                                <div class="info_wrap">
                                                    <!--  -->
                                                    <div class="link_detail_area" href="javascript:;">
                                                        <div class="hotel_info">
                                                            <div class="img_hotel"><img
                                                                    src="https://search.pstatic.net/common/?src=https://content.r9cdn.net/himg/18/e5/42/revato-3599270-13288038-672690.jpg&amp;type=f80_80"
                                                                    width="75" height="75" alt="호텔 이미지">
                                                                <div style="display: none;"></div>
                                                            </div>
                                                            <div class="info_wrap">
                                                                <span class="hotel_name"
                                                                    style="float: inline-start; font-weight: 600;">그랜드
                                                                    조선
                                                                    제주&nbsp;</span>
                                                                <span class="hotel_name_en">5성급 제주</span>
                                                                <span class="sub_info">
                                                                </span>
                                                                <div class="rating_review_area">
                                                                    <span class="rating">
                                                                        <span class=""
                                                                            style="background-color: rgb(22, 114, 253); color: white; border: 1px solid rgb(22, 114, 253); border-radius: 5px; padding: 0px 3px 0px 3px;">숙박중</span>
                                                                        <span class="txt">2024.06.24 월 - 2024.06.25 화
                                                                            (1박)</span>
                                                                    </span>
                                                                </div>
                                                                <div class="rating_review_area">
                                                                    <span class="rating">
                                                                        <span class="hotel_name_en"
                                                                            style="float: left;">예약일&nbsp;</span>
                                                                        <span>2024.06.23 (일)&nbsp;</span>
                                                                    </span>
                                                                    <span class="rating">
                                                                        <span class="hotel_name_en"
                                                                            style="float: left;">예약번호&nbsp;</span>
                                                                        <span
                                                                            style="color: rgb(64, 143, 222);">39476258</span>
                                                                    </span>
                                                                </div>
                                                                <div class="rating_review_area">
                                                                    <span class="rating">
                                                                        <span class="hotel_name_en"
                                                                            style="float: left;">인원&nbsp;</span>
                                                                        <span>성인 2&nbsp;</span>
                                                                    </span>
                                                                    <span class="rating">
                                                                        <span class="hotel_name_en"
                                                                            style="float: left;">객실 수&nbsp;</span>
                                                                        <span>1개</span>
                                                                    </span>
                                                                </div>
                                                                <div class="rating_review_area">
                                                                    <span class="rating">
                                                                        <span class="hotel_name_en"
                                                                            style="float: left;margin-right: 290px;">총
                                                                            결제 금액&nbsp;</span>
                                                                        <div style="display: -webkit-box;">
                                                                            <span class="hotel_name_en">세금 포함</span>
                                                                            <span class="star_txt">2,423,600원</span>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                </hr>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;"></div>
                    </div>
                    </li>
                    </ul>
                </div>
                <div style="display: none;"></div>
            </div>
        </div>
        <div class="Toast" aria-hidden="true"></div>
    </div>
    <div class="footer">
        <div class="footer_box">
            <ul class="info_site_list">
                <li class="sp_flight_pc info_site_item"><a class="lin_info" target="_blank"
                        href="http://www.naver.com/rules/service.html">이용약관</a></li>
                <li class="sp_flight_pc info_site_item"><a class="lin_info" target="_blank"
                        href="http://www.naver.com/rules/privacy.html"><strong>개인정보처리방침</strong></a></li>
                <li class="sp_flight_pc info_site_item"><a class="lin_info" target="_blank"
                        href="http://www.naver.com/rules/disclaimer.html">책임의 한계와 법적고지</a></li>
                <li class="sp_flight_pc info_site_item"><a class="lin_info" target="_blank"
                        href="https://help.naver.com/alias/contents2/navertravel/travel.naver">고객센터</a></li>
            </ul>
            <address class="address_box">사업자등록번호 : 220-81-62517&nbsp;<span class="co_bar">|</span>&nbsp;통신판매업신고번호 :
                제2006-경기성남-692호&nbsp;<span class="co_bar">|</span>&nbsp;대표이사 : 최수연&nbsp;<span class="co_bar">|</span><a
                    class="lin_info" target="_blank"
                    href="http://www.ftc.go.kr/info/bizinfo/communicationList.jsp">&nbsp;사업자등록정보확인</a>
                <address>주소 :
                    경기도 성남시 분당구 정자일로 95, NAVER 1784, 13561&nbsp;<span class="co_bar">|</span>&nbsp;대표전화 : 1588-3820
                </address>
                <p class="copyright_box"><a class="sp_flight_pc lin_info logo" target="_blank"
                        href="http://www.naver.com/">NAVER</a>Copyright ©<strong><a class="lin_info lin_info_corp"
                            target="_blank" href="http://www.navercorp.com/">NAVER Corp.</a></strong> All Rights
                    Reserved.</p>
            </address>
        </div>
    </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script th:inline="javascript">
    $(".myinfo").on("click", function (){
        location.href = "/mypage/mypageInfo";
    })
    $(".reserve").on("click", function (){
        location.href = "/mypage/mypageReserve";
    })
    $(".review").on("click", function (){
        location.href = "/mypage/mypageReview";
    })
    $(".wish").on("click", function (){
        location.href = "/mypage/mypageWish";
    })
</script>
</html>