<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>강남구지역 호텔 목록입니다.</title>
  <link rel="stylesheet" href="/css/place.css">
  <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
  <link rel="stylesheet" href="/css/place01.css">
  <link rel="stylesheet" href="/css/place02.css">
  <link rel="stylesheet" href="/css/place03.css">
  <link rel="stylesheet" href="/css/place04.css">
  <link rel="stylesheet" href="/css/place05.css">
  <link rel="stylesheet" href="/css/place06.css">
  <link rel="stylesheet" href="/css/place07.css">
  <link rel="stylesheet" href="/css/place08.css">
  <link rel="stylesheet" href="/css/place09.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div id="__next">
    <div class="hotel" data-current="list">
      <!--*****header*****!-->
      <header th:replace="/main/header.html :: div"></header>
      <!--******body 시작*****!-->
      <div class="Layout_ListPage__d2BoL hotel_list">
        <div class="Layout_container__qNxp_">

          <!--버튼 클릭 시 전체화면 보이기-->
          <div class="Contents_ListComponent__V3zn1" aria-expanded="false">
            <div class="Contents_options__9i0_m">
              <div class="Contents_inner__De9qv">
                <!-- searchType -->
                <div class="SearchBox_SearchBox__OMk4Y">
                  <div class="SearchBox_inner__xkqUq">
                    <div class="SearchBox_search_area__YoOwW">
                      <div class="SearchBox_select_area__Xnvj8">
                        <div class="SearchBox_select_location__eSmdg">
                          <button type="button" class="SearchBox_btn_location__AMvC8" aria-selected="false">
                            용산구
                          </button>
                        </div>
                        <div class="SearchBox_select_checkinout__UYttl _calendar">
                          <button type="button" class="SearchBox_btn_checkin__MdsBo" aria-selected="false">
                            <span class="SearchBox_datetxt__WkJlX">체크인</span></button><button type="button"
                            class="SearchBox_btn_checkout__s_QSD" aria-selected="false">
                            <span class="SearchBox_datetxt__WkJlX">체크아웃</span>
                          </button>
                        </div>
                        <div class="SearchBox_select_people__DhM2N">
                          <button type="button" class="SearchBox_btn_people__kqLBO" aria-selected="false">
                            성인2
                          </button>
                        </div>
                        <div class="SearchBox_select_biz__WEe2G"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end searchType -->
                <!-- InlineFilter -->
                <div class="InlineFilter_InlineFilters__HUBsS">
                  <div class="InlineFilter_filters__22mka">
                    <button class="InlineFilter_filter_all__lAVDv" type="button" aria-checked="false"></button>
                    <div class="InlineFilter_presets__b_2K8 _scroll">
                      <button class="InlineFilter_filter__nCJhR inlineFilter_starRatings" aria-checked="false"
                        aria-expanded="false" type="button">
                        성급</button><button class="InlineFilter_filter__nCJhR inlineFilter_rates" aria-checked="false"
                        aria-expanded="false" type="button">
                        가격</button><button class="InlineFilter_filter__nCJhR inlineFilter_propertyTypes"
                        aria-checked="false" aria-expanded="false" type="button">
                        숙박유형</button><button class="InlineFilter_filter__nCJhR inlineFilter_guestRatings"
                        aria-checked="false" aria-expanded="false" type="button">
                        평점</button>
                    </div>
                  </div>
                </div>
                <!-- end InlineFilter -->
              </div>
            </div>
            <div class="Contents_result__sWBal">
              <div class="header">
                <div class="SortFilters_SortFilters__3VNhp">
                  <span class="SortFilters_filter__uQFkc"><select class="SortFilters_select__c_MBK">
                      <option value="rkd">인기순</option>
                      <option value="grd">평점 높은순</option>
                      <option value="sta">성급 낮은순</option>
                      <option value="std">성급 높은순</option>
                      <option value="pra">가격 낮은순</option>
                      <option value="prd">가격 높은순</option>
                    </select><span class="SortFilters_value__YTaNK" aria-hidden="true">인기순</span></span>
                  <div class="SortFilters_tax_area__iSTBE">
                  </div>
                </div>
              </div>
              <!-- 호텔목록 -->
              <ul class="SearchList_SearchList___ce0v" id="hotelListContainer">
              </ul>
              <!-- end 호텔 목록 -->
              <!-- paging -->
              <div class="Pagination_Pagination__Yanet">
                <button class="Pagination_prev__D_uXc" type="button" disabled=""></button>
                <button type="button" class="Pagination_page__O0Lgy Pagination_now__b15Fx"> 1</button>
                <button class="Pagination_next__tTpJB" type="button"> </button>
              </div>
              <!--  end paging -->
            </div>
          </div>
          <!-- 지도  -->
          <div class="Map_ListMap__A1029" aria-expanded="false">
            <div class="ListNaverMap map_view" tabindex="0" style="
                  position: relative;
                  overflow: hidden;
                  background: rgb(248, 249, 250);" id="map">
            </div>
          </div>
          <!-- end 지도 -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=65c1529a238cd3933ab299794bdc4046&libraries=services"></script>
  <script type="text/javascript">
    kakao.maps.load(function () {
      $(document).ready(function () {
        function showHotelList(callback, error) {
          $.ajax({
            url: "/hotel/place",
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (result) {
              callback(result);
            },
            error: function (a, b, c) {
              console.error(a, b, c);
            }
          });
        }

        showHotelList(function (result) {
          const hotelList = result;
          const hotelListContainer = document.getElementById('hotelListContainer');
          hotelListContainer.innerHTML = '';

          hotelList.forEach(hotel => {
            const hotelItem = document.createElement('li');
            hotelItem.className = 'SearchList_HotelItem__RRmaZ';
            hotelItem.innerHTML = `
                            <div class="Detail_Detail__1gCSc">
                                <div class="Detail_Thumbnail__q8WSD">
                                    <a class="ThumbnailImage_img_wrap__Fvk_f" rel="noreferrer" href="" target="_blank">
                                        <img class="ThumbnailImage_img__PG26y" width="120" height="120" alt="hotelBestThumbnail" src="" />
                                    </a>
                                    <span class="Detail_more__qLyHr" aria-label="이미지 더보기"></span>
                                </div>
                                <div class="Detail_InfoArea__fW1Wg">
                                    <h4 class="Detail_title__eOg5d" id="hotelName">${hotel.name}</h4>
                                    <i class="Detail_location__72gXA" id="cityCountry">${hotel.city}, ${hotel.country}</i>
                                    <div class="Detail_rating__rNAT3">
                                        <i class="Detail_score__Heb0x">★별점</i>
                                        <i class="Detail_grade__o9wqy" id="starRating">${hotel.starRating} 성급</i>
                                    </div>
                                </div>
                            </div>
                            <div class="Price_Price__iOHwc">
                                <em class="Price_show_price__Ebim3"><span class="Price_txt__iknXw">원~</span></em>
                                <a class="Price_rate_more__knzO7" rel="noreferrer" href="" target="_blank">실시간 가격비교</a>
                            </div>
                            <a class="SearchList_anchor__rS3VX" rel="noreferrer" href="" target="_blank"></a>`;
            hotelListContainer.appendChild(hotelItem);
          });

          var mapContainer = document.getElementById('map');
          var mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 2
          };

          var map = new kakao.maps.Map(mapContainer, mapOption);

          var geocoder = new kakao.maps.services.Geocoder();
          var customOverlays = {}; // 커스텀 오버레이 저장용 객체
          var currentOverlay = null; // 현재 열려 있는 오버레이

          hotelList.forEach(hotel => {
            var address = hotel.defaultAddr + ' ' + hotel.detailAddr;

            geocoder.addressSearch(address, function (result, status) {
              if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                var imageSize = new kakao.maps.Size(24, 35);
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                var marker = new kakao.maps.Marker({
                  map: map,
                  position: coords,
                  title: hotel.name,
                  image: markerImage
                });
                var content = '<div class="wrap">' +
                  '    <div class="info">' +
                  '        <div class="title">' + `${hotel.name}` + '<div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                  '        </div>' +
                  '        <div class="body">' +
                  '            <div class="img">' +
                  '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                  '           </div>' +
                  '            <div class="desc">' +
                  '                <div class="ellipsis">' + `${hotel.defaultAddr} ${hotel.detailAddr}` + '</div>' +
                  '                <div class="jibun ellipsis">(우)' + `${hotel.zipCode}` + '</div>' +
                  '            </div>' +
                  '        </div>' +
                  '    </div>' +
                  '</div>';


                var customOverlay = new kakao.maps.CustomOverlay({
                  position: coords,
                  content: content,
                  xAnchor: 0.415,
                  yAnchor: 0.93
                });

                customOverlays[hotel.name] = customOverlay; // 커스텀 오버레이를 객체에 저장

                kakao.maps.event.addListener(marker, 'click', function () {
                  if (currentOverlay) {
                    currentOverlay.setMap(null); // 현재 열린 오버레이를 닫습니다.
                  }
                  customOverlay.setMap(map); // 클릭한 마커의 오버레이를 열기
                  currentOverlay = customOverlay; // 현재 열린 오버레이를 갱신합니다.
                });



              }
            });
          });

          // 맵 클릭 시 모든 오버레이 닫기
          kakao.maps.event.addListener(map, 'click', function () {
            if (currentOverlay) {
              currentOverlay.setMap(null);
              currentOverlay = null;
            }
          });
        });
      });
    });
  </script>
</body>

</html>