<html>
  <head>
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css" />
    <link rel="stylesheet" href="/css/3baa0af5ac53eafe.css" />
    <link rel="stylesheet" href="/css/1932c453a37acf0b.css" />
    <link rel="stylesheet" href="/css/50c77c59b51d14b6.css" />
    <link rel="stylesheet" href="/css/1f0637fe2de161a8.css" />
    <link rel="stylesheet" href="/css/dd79048d2e48550f.css" />
    <link rel="stylesheet" href="/css/fd2726604d0d93a7.css" />
    <link rel="stylesheet" href="/css/roomStyle.css" />



    
  </head>
  <body>
    <div id="__next">
      <div
        class="flights List international_InternationalContainer__KlV7P"
        data-container="list"
        aria-haspopup="false"
        data-fixed="false"
      >
        <main id="container">
          <div class="layout_large__pJG6l">
            <!--*****header*****!-->
            <header th:replace="/main/header.html :: div"></header>
            <!--******body 시작*****!-->
          </div>

          <!--본문 시작-->
          <div class="layout_large__pJG6l"></div>
          <div class="layout_small__Q38rB">
            <header class="header_Header__YpZBX">
              <div
                class="Header_Header__-Uqw2"
                data-fixed="false"
                data-service="flight"
              >
                <nav class="Header_top__uEukE">
                  <div class="Header_inner__Bqg5f">
                    <a class="Header_naver__XtvKG" href="https://m.naver.com/"
                      ><span class="Header_label__oA3vw">Naver</span></a
                    ><a
                      class="Header_home__nCI9O"
                      href="https://m-flight.naver.com"
                      ><span class="Header_label__oA3vw">여행상품</span></a
                    ><a
                      class="Header_service__D0wGs"
                      href="https://travel.naver.com"
                      ><span class="Header_label__oA3vw">여행정보</span></a
                    >
                    <div class="Header_sub__UgpHr">
                      <button
                        type="button"
                        class="Header_travelclub__uSiqN"
                        data-grade="1"
                      >
                        베이직</button
                      ><a
                        class="Header_mypage__jXor0"
                        href="https://voyage.naver.com/voyage/mypage"
                        ><span class="Header_label__oA3vw">마이페이지</span></a
                      >
                      <div class="Header_naver_gnb__aYORZ">
                        <div id="gnb">
                          <script
                            src="https://ssl.pstatic.net/static.gn/templates/gnb_utf8.nhn"
                            async=""
                          ></script>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
                <nav class="Header_nav__fkngb">
                  <div class="Header_inner__Bqg5f _nav">
                    <a
                      aria-current="page"
                      class="Header_nav_item__x9mz1"
                      href="https://m-flight.naver.com"
                      ><span class="Header_nav_item_text__zBZUG">항공</span></a
                    ><a
                      aria-current="false"
                      class="Header_nav_item__x9mz1"
                      href="https://hotels.naver.com"
                      ><span class="Header_nav_item_text__zBZUG">호텔</span></a
                    ><a
                      aria-current="false"
                      class="Header_nav_item__x9mz1"
                      href="https://pkgtour.naver.com"
                      ><span class="Header_nav_item_text__zBZUG"
                        >패키지</span
                      ></a
                    ><a
                      aria-current="false"
                      class="Header_nav_item__x9mz1"
                      href="https://biztrip.naver.com"
                      ><span class="Header_nav_item_text__zBZUG">출장</span
                      ><i class="Header_beta__WUbM-" title="beta"></i></a
                    ><a
                      aria-current="false"
                      class="Header_nav_item__x9mz1"
                      href="https://travel4u.naver.com"
                      ><span class="Header_nav_item_text__zBZUG">For U</span></a
                    ><a
                      aria-current="false"
                      class="Header_nav_item__x9mz1"
                      href="https://travel-event.naver.com"
                      ><span class="Header_nav_item_text__zBZUG"
                        >이벤트·혜택</span
                      ></a
                    >
                  </div>
                </nav>
              </div>
            </header>
          </div>
          <div class="international_top__0wHyB">
            <div class="international_inner__OJFxo">
              <div class="layout_large__pJG6l">
                <div
                  class="searchBox_searchBox__r64Hx"
                  data-triptype="RT"
                  data-multicity-expanded="false"
                  data-position="list"
                >
                  <div class="searchBox_tablist__AffpF" role="tablist">
                    <button
                      class="tab searchBox_Tab__3RZhS"
                      role="tab"
                      type="button"
                      aria-selected="true"
                      aria-disabled="false"
                    >
                      <i class="searchBox_text__RMGxG">왕복</i></button
                    ><button
                      class="tab searchBox_Tab__3RZhS"
                      role="tab"
                      type="button"
                      aria-selected="false"
                      aria-disabled="false"
                    >
                      <i class="searchBox_text__RMGxG">편도</i></button
                    ><button
                      class="tab searchBox_Tab__3RZhS"
                      role="tab"
                      type="button"
                      aria-selected="false"
                      aria-disabled="false"
                    >
                      <i class="searchBox_text__RMGxG">다구간</i>
                    </button>
                  </div>
                  <div class="searchBox_tabpanel__TNa1r" role="tabpanel">
                    <div class="tabContent_routes__o3oAk">
                      <button
                        type="button"
                        class="tabContent_route__EXyDz select_City__mKbzk start"
                        aria-disabled="false"
                        aria-selected="false"
                      >
                        <b class="select_code__IVa3P" aria-selected="true"
                          >SEL</b
                        ><i class="select_name__XucEi">서울</i></button
                      ><button
                        type="button"
                        class="tabContent_route__EXyDz select_City__mKbzk end"
                        aria-disabled="false"
                        aria-selected="false"
                      >
                        <b class="select_code__IVa3P" aria-selected="true"
                          >KIX</b
                        ><i class="select_name__XucEi">오사카</i></button
                      ><button
                        type="button"
                        class="tabContent_swap__X5_W6 select_Swap__BLrXg"
                        title="출도착지 전환"
                        aria-label="출도착지 전환"
                      ></button>
                    </div>
                    <div class="tabContent_options__4pr6W">
                      <button
                        type="button"
                        class="tabContent_option___mYJO select_Date__Potbp"
                        aria-selected="true"
                      >
                        07.04.목</button
                      ><button
                        type="button"
                        class="tabContent_option___mYJO select_Date__Potbp"
                        aria-selected="true"
                      >
                        07.05.금
                      </button>
                    </div>
                    <div class="tabContent_options__4pr6W">
                      <button
                        type="button"
                        class="tabContent_option___mYJO select_Passenger__he8G8"
                      >
                        성인 1명, 일반석</button
                      ><button
                        type="button"
                        class="tabContent_option___mYJO tabContent_as_direct__dOk9T select_Direct__VsxJp"
                        aria-checked="false"
                      >
                        직항만
                      </button>
                    </div>
                    <div class="searchBox_biztrip__oXvBe">
                      <label class="searchBox_toggle__p4Gho"
                        ><input type="checkbox" /><span
                          >해외 출장입니다</span
                        ></label
                      >
                      <details class="searchBox_info__h6EcV">
                        <summary></summary>
                        <div role="tooltip">
                          출장 선호 항공편, 상용 우대 혜택이 포함된 해외항공권
                          검색 결과를 제공합니다. 검색 시 출장여행으로
                          이동합니다.
                        </div>
                      </details>
                    </div>
                    <button class="searchBox_search__dgK4Z" type="submit">
                      <span class="searchBox_txt__jQZGF"
                        >항공권 검색</span
                      ></button
                    ><button class="searchBox_expand__88Hzv" type="button">
                      <span class="searchBox_text__RMGxG">수정</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="layout_small__Q38rB">
                <div
                  class="searchCondition_SearchCondition__mvTZm"
                  aria-expanded="false"
                >
                  <div class="searchCondition_current__CyaX7">
                    <div class="searchCondition_top__S6O2V">
                      <strong class="route"
                        ><button
                          type="button"
                          aria-label="경로 변경"
                          class="searchCondition_Airport__M1hZn"
                        >
                          <i class="searchCondition_name__2Zd_X">서울</i
                          ><b class="searchCondition_code__Jn4UX"
                            >SEL</b
                          ></button
                        ><button
                          type="button"
                          aria-label="경로 변경"
                          class="searchCondition_Airport__M1hZn"
                        >
                          <i class="searchCondition_name__2Zd_X">오사카</i
                          ><b class="searchCondition_code__Jn4UX">KIX</b>
                        </button></strong
                      >
                    </div>
                    <div class="searchCondition_desc__ZDvz4">
                      <em class="searchCondition_Date__ZNM3y"
                        ><button type="button">07.04.목</button></em
                      >
                      ~
                      <em class="searchCondition_Date__ZNM3y"
                        ><button type="button">07.05.금</button></em
                      ><em class="searchCondition_seat__Fsfx0"
                        ><button type="button">성인 1명, 일반석</button></em
                      >
                    </div>
                    <button type="button" class="searchCondition_change__HhBnc">
                      <span class="searchCondition_text__PH5vS">변경</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="international_content__Vpjrs">
            <div class="international_inner__OJFxo">
              <div
                class="header_InternationalHeader___uXXU header_is_concurrent__OBqXQ"
              >
                <div class="header_inner__4D3D2">
                  <h3 class="header_title__99vag">
                    <div class="header_Title__84sWV">
                      <button
                        type="button"
                        class="header_current__KbvS_"
                        aria-expanded="false"
                      >
                        왕복 동시 선택
                      </button>
                    </div>
                  </h3>
                  <div class="header_sort__L6ssY">
                    <button
                      type="button"
                      class="header_current__KbvS_"
                      aria-expanded="false"
                    >
                      가격 순
                    </button>
                  </div>
                  <div class="header_sort__L6ssY">
                    <button
                      type="button"
                      class="header_current__KbvS_"
                      aria-expanded="false"
                    >
                      카드 혜택 포함
                    </button>
                  </div>
                </div>
              </div>
              <div class="international_selected_flights__hD11R"></div>
              <div class="concurrent_ConcurrentList__pF_Kv">
                <div class="promotionBanner_PromotionBanner__hsvP4">
                  <div class="promotionBanner_info__OYuUW">
                    <b class="promotionBanner_title__O4BGT"
                      >항공권
                      <strong class="promotionBanner_discount__EuvUg"
                        ><b>5,000</b>원 할인</strong
                      >
                      +
                      <strong class="promotionBanner_bonus__VJv2T"
                        ><b>5,000</b>원 적립</strong
                      ></b
                    ><i class="promotionBanner_desc___mcpU"
                      >- 이벤트 상품 한정</i
                    >
                  </div>
                </div>
                <div
                  class="concurrent_ConcurrentItemContainer__NDJda concurrent_with_labels__MWIQQ"
                >
                  <div class="concurrent_inner__OXzRp">
                    <div class="concurrent_schedule__EiWLW">
                      <div
                        class="concurrent_RoundSameAL__8lC9z concurrent_item__wwwxh"
                      >
                        <div class="item_ItemHeader__2fM4z">
                          <div role="row">
                            <div
                              class="item_labels__jBnyb"
                              itemprop="description"
                            >
                              <i class="item_label__f5CmB" data-type="2"
                                >많이 찾는</i
                              ><i class="item_label__f5CmB" data-type="3"
                                >최저가</i
                              >
                            </div>
                            <div class="item_emission__eawMP">
                              <div
                                class="emissions_Emissions__2YIZV"
                                data-average="high"
                              >
                                <button
                                  class="emissions_summary__U5e1v"
                                  type="button"
                                >
                                  CO<sub>2</sub>
                                  <b class="emissions_value__kGAqL">33%</b>
                                </button>
                              </div>
                            </div>
                            <hr />
                          </div>
                          <div role="row">
                            <div class="airline_Airlines__5_z0a">
                              <span
                                class="airline_logos__Nv1aD"
                                data-area="logos"
                                ><img
                                  alt="에어부산"
                                  class="airline_logo__S_bQ7"
                                  src="https://vertical.pstatic.net/vertical/static/flight/airlines/BX.png" /></span
                              ><span
                                class="airline_text__WWkbY"
                                data-area="texts"
                                ><b class="airline_name__0Tw5w">에어부산</b
                                ><span class="airline_info__vBRtW"
                                  ><span class="item_promotionBadge__2aV3u"
                                    ><i
                                      class="item_badge__dUD3M"
                                      aria-expanded="false"
                                      >이벤트혜택</i
                                    ></span
                                  ></span
                                ></span
                              >
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="concurrent_routes__TIqQO">
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">15:55</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">17:45</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><i class="route_info__RVh13">직항, 01시간 50분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">12:50</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">14:50</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><i class="route_info__RVh13">직항, 02시간 00분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="concurrent_select_schedule__aQKTx"
                      type="button"
                    ></button>
                    <hr />
                    <div class="item_ItemPriceList__pAvJJ">
                      <div class="item_summary__YgDrL">
                        <div class="item_firstItem__TFXDv">
                          <div
                            class="item_directPromotionSummary__Mv5az"
                            itemscope=""
                          >
                            <span class="item_type__79id0" itemprop="name"
                              >성인/KB국민카드(이용실적 충족시)</span
                            ><del class="item_before__tbEEy" itemprop="offers"
                              ><i class="item_num__aKbk4">158,900</i
                              ><span class="item_unit__ZqikD">원~</span></del
                            ><span
                              class="item_condition___NwT1"
                              itemprop="itemCondition"
                              ><span class="item_directpromotion__oByq4"
                                >5천원 할인</span
                              ></span
                            ><b class="item_promoted__fRqOW" itemprop="offers"
                              >왕복 <i class="item_num__aKbk4">153,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                          <div class="item_firstItem_promotion__gsKI9">
                            <span class="item_desc__mrY4W"
                              ><i
                                class="item_npaypoint__WbnXv"
                                title="npaypoint"
                              ></i
                              >5천원 적립 시</span
                            ><b class="item_price__QbJh8"
                              ><i class="item_num__aKbk4">148,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="concurrent_ConcurrentItemContainer__NDJda concurrent_with_labels__MWIQQ"
                >
                  <div class="concurrent_inner__OXzRp">
                    <div class="concurrent_schedule__EiWLW">
                      <div
                        class="concurrent_RoundSameAL__8lC9z concurrent_item__wwwxh"
                      >
                        <div class="item_ItemHeader__2fM4z">
                          <div role="row">
                            <div
                              class="item_labels__jBnyb"
                              itemprop="description"
                            >
                              <i class="item_label__f5CmB" data-type="3"
                                >최저가</i
                              >
                            </div>
                            <div class="item_emission__eawMP">
                              <div
                                class="emissions_Emissions__2YIZV"
                                data-average="high"
                              >
                                <button
                                  class="emissions_summary__U5e1v"
                                  type="button"
                                >
                                  CO<sub>2</sub>
                                  <b class="emissions_value__kGAqL">33%</b>
                                </button>
                              </div>
                            </div>
                            <hr />
                          </div>
                          <div role="row">
                            <div class="airline_Airlines__5_z0a">
                              <span
                                class="airline_logos__Nv1aD"
                                data-area="logos"
                                ><img
                                  alt="에어부산"
                                  class="airline_logo__S_bQ7"
                                  src="https://vertical.pstatic.net/vertical/static/flight/airlines/BX.png" /></span
                              ><span
                                class="airline_text__WWkbY"
                                data-area="texts"
                                ><b class="airline_name__0Tw5w">에어부산</b
                                ><span class="airline_info__vBRtW"
                                  ><span class="item_promotionBadge__2aV3u"
                                    ><i
                                      class="item_badge__dUD3M"
                                      aria-expanded="false"
                                      >이벤트혜택</i
                                    ></span
                                  ></span
                                ></span
                              >
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="concurrent_routes__TIqQO">
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">12:40</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">15:00</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><i class="route_info__RVh13">직항, 02시간 20분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">12:50</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">14:50</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><i class="route_info__RVh13">직항, 02시간 00분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="concurrent_select_schedule__aQKTx"
                      type="button"
                    ></button>
                    <hr />
                    <div class="item_ItemPriceList__pAvJJ">
                      <div class="item_summary__YgDrL">
                        <div class="item_firstItem__TFXDv">
                          <div
                            class="item_directPromotionSummary__Mv5az"
                            itemscope=""
                          >
                            <span class="item_type__79id0" itemprop="name"
                              >성인/KB국민카드(이용실적 충족시)</span
                            ><del class="item_before__tbEEy" itemprop="offers"
                              ><i class="item_num__aKbk4">158,900</i
                              ><span class="item_unit__ZqikD">원~</span></del
                            ><span
                              class="item_condition___NwT1"
                              itemprop="itemCondition"
                              ><span class="item_directpromotion__oByq4"
                                >5천원 할인</span
                              ></span
                            ><b class="item_promoted__fRqOW" itemprop="offers"
                              >왕복 <i class="item_num__aKbk4">153,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                          <div class="item_firstItem_promotion__gsKI9">
                            <span class="item_desc__mrY4W"
                              ><i
                                class="item_npaypoint__WbnXv"
                                title="npaypoint"
                              ></i
                              >5천원 적립 시</span
                            ><b class="item_price__QbJh8"
                              ><i class="item_num__aKbk4">148,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="concurrent_ConcurrentItemContainer__NDJda">
                  <div class="concurrent_inner__OXzRp">
                    <div class="concurrent_schedule__EiWLW">
                      <div
                        class="concurrent_RoundSameAL__8lC9z concurrent_item__wwwxh"
                      >
                        <div class="item_ItemHeader__2fM4z">
                          <div role="row">
                            <div
                              class="item_labels__jBnyb"
                              itemprop="description"
                            ></div>
                            <div class="item_emission__eawMP">
                              <div
                                class="emissions_Emissions__2YIZV"
                                data-average="high"
                              >
                                <button
                                  class="emissions_summary__U5e1v"
                                  type="button"
                                >
                                  CO<sub>2</sub>
                                  <b class="emissions_value__kGAqL">37%</b>
                                </button>
                              </div>
                            </div>
                            <hr />
                          </div>
                          <div role="row">
                            <div class="airline_Airlines__5_z0a">
                              <span
                                class="airline_logos__Nv1aD"
                                data-area="logos"
                                ><img
                                  alt="이스타항공"
                                  class="airline_logo__S_bQ7"
                                  src="https://vertical.pstatic.net/vertical/static/flight/airlines/ZE.png" /></span
                              ><span
                                class="airline_text__WWkbY"
                                data-area="texts"
                                ><b class="airline_name__0Tw5w">이스타항공</b
                                ><span class="airline_info__vBRtW"
                                  ><span class="item_promotionBadge__2aV3u"
                                    ><i
                                      class="item_badge__dUD3M"
                                      aria-expanded="false"
                                      >이벤트혜택</i
                                    ></span
                                  ></span
                                ></span
                              >
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="concurrent_routes__TIqQO">
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">15:15</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">17:00</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><i class="route_info__RVh13">직항, 01시간 45분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">18:00</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">19:55</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><i class="route_info__RVh13">직항, 01시간 55분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="concurrent_select_schedule__aQKTx"
                      type="button"
                    ></button>
                    <hr />
                    <div class="item_ItemPriceList__pAvJJ">
                      <div class="item_summary__YgDrL">
                        <div class="item_firstItem__TFXDv">
                          <div
                            class="item_directPromotionSummary__Mv5az"
                            itemscope=""
                          >
                            <span class="item_type__79id0" itemprop="name"
                              >성인/롯데카드</span
                            ><del class="item_before__tbEEy" itemprop="offers"
                              ><i class="item_num__aKbk4">178,200</i
                              ><span class="item_unit__ZqikD">원~</span></del
                            ><span
                              class="item_condition___NwT1"
                              itemprop="itemCondition"
                              ><span class="item_directpromotion__oByq4"
                                >5천원 할인</span
                              ></span
                            ><b class="item_promoted__fRqOW" itemprop="offers"
                              >왕복 <i class="item_num__aKbk4">173,200</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                          <div class="item_firstItem_promotion__gsKI9">
                            <span class="item_desc__mrY4W"
                              ><i
                                class="item_npaypoint__WbnXv"
                                title="npaypoint"
                              ></i
                              >5천원 적립 시</span
                            ><b class="item_price__QbJh8"
                              ><i class="item_num__aKbk4">168,200</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="concurrent_ConcurrentItemContainer__NDJda">
                  <div class="concurrent_inner__OXzRp">
                    <div class="concurrent_schedule__EiWLW">
                      <div
                        class="concurrent_RoundSameAL__8lC9z concurrent_item__wwwxh"
                      >
                        <div class="item_ItemHeader__2fM4z">
                          <div role="row">
                            <div
                              class="item_labels__jBnyb"
                              itemprop="description"
                            ></div>
                            <div class="item_emission__eawMP">
                              <div
                                class="emissions_Emissions__2YIZV"
                                data-average="high"
                              >
                                <button
                                  class="emissions_summary__U5e1v"
                                  type="button"
                                >
                                  CO<sub>2</sub>
                                  <b class="emissions_value__kGAqL">33%</b>
                                </button>
                              </div>
                            </div>
                            <hr />
                          </div>
                          <div role="row">
                            <div class="airline_Airlines__5_z0a">
                              <span
                                class="airline_logos__Nv1aD"
                                data-area="logos"
                                ><img
                                  alt="에어부산"
                                  class="airline_logo__S_bQ7"
                                  src="https://vertical.pstatic.net/vertical/static/flight/airlines/BX.png" /></span
                              ><span
                                class="airline_text__WWkbY"
                                data-area="texts"
                                ><b class="airline_name__0Tw5w">에어부산</b
                                ><span class="airline_info__vBRtW"
                                  ><span class="item_promotionBadge__2aV3u"
                                    ><i
                                      class="item_badge__dUD3M"
                                      aria-expanded="false"
                                      >이벤트혜택</i
                                    ></span
                                  ></span
                                ></span
                              >
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="concurrent_routes__TIqQO">
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">15:55</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">17:45</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><i class="route_info__RVh13">직항, 01시간 50분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                          <div class="route_Route__HYsDn">
                            <span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">16:00</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >KIX</i
                              ></span
                            ><span class="route_airport__tBD9o"
                              ><b class="route_time__xWu7a">18:10</b
                              ><i
                                class="route_code__S07WE"
                                data-different="false"
                                >ICN</i
                              ></span
                            ><i class="route_info__RVh13">직항, 02시간 10분</i>
                            <div
                              class="route_tooltip__GMAtC"
                              role="tooltip"
                              aria-expanded="false"
                            >
                              <button
                                class="route_close__njgkC"
                                type="button"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="concurrent_select_schedule__aQKTx"
                      type="button"
                    ></button>
                    <hr />
                    <div class="item_ItemPriceList__pAvJJ">
                      <div class="item_summary__YgDrL">
                        <div class="item_firstItem__TFXDv">
                          <div
                            class="item_directPromotionSummary__Mv5az"
                            itemscope=""
                          >
                            <span class="item_type__79id0" itemprop="name"
                              >성인/KB국민카드(이용실적 충족시)</span
                            ><del class="item_before__tbEEy" itemprop="offers"
                              ><i class="item_num__aKbk4">181,900</i
                              ><span class="item_unit__ZqikD">원~</span></del
                            ><span
                              class="item_condition___NwT1"
                              itemprop="itemCondition"
                              ><span class="item_directpromotion__oByq4"
                                >5천원 할인</span
                              ></span
                            ><b class="item_promoted__fRqOW" itemprop="offers"
                              >왕복 <i class="item_num__aKbk4">176,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                          <div class="item_firstItem_promotion__gsKI9">
                            <span class="item_desc__mrY4W"
                              ><i
                                class="item_npaypoint__WbnXv"
                                title="npaypoint"
                              ></i
                              >5천원 적립 시</span
                            ><b class="item_price__QbJh8"
                              ><i class="item_num__aKbk4">171,900</i
                              ><span class="item_unit__ZqikD">원~</span></b
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer role="contentinfo" class="jsx-4762ec510f98bdaf footer">
          <div class="jsx-4762ec510f98bdaf btns">
            <button
              class="btn as_share naver-splugin spi_sns_share"
              data-evkey="flight"
              data-option='{"layerPosition":"outside-top","align":"right"}'
              data-service-name="설레는 여행의 시작. 네이버 항공권과 함께!"
              data-source-name="네이버 항공권"
              data-style="type_a"
              data-title="네이버 항공권"
              type="button"
              splugin-id="1987673576"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="15"
                class="svg"
              >
                <g fill="#5398F5">
                  <path
                    d="M11.8 2.826V.539c0-.389.5-.588.801-.32l4.605 4.094a.42.42 0 010 .639l-4.605 4.094c-.301.268-.801.069-.801-.32V6.439H9.762c-1.555 0-2.745.432-3.633 1.15-.308.25-.557.516-.75.78-.113.155-.18.27-.206.325-.218.456-.954.279-.906-.218.305-3.212 2.503-5.65 5.596-5.65H11.8zm4.391 1.806l-3.443-3.06v1.696c0 .244-.212.442-.474.442h-2.41c-1.988 0-3.55 1.253-4.263 3.138 1.046-.81 2.425-1.293 4.161-1.293h2.512c.262 0 .474.198.474.442v1.696l3.443-3.06z"
                  ></path>
                  <path
                    d="M12.996 13.996v-3.408h1v4.408H0V3.003h4.912v1H1v9.993z"
                  ></path>
                </g></svg
              >공유하기</button
            ><button type="button" class="jsx-4762ec510f98bdaf btn as_top">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="11"
                height="18"
                class="svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 18V0h11v18z"></path>
                  <path
                    stroke="#5398F5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M.5 6.5l5-5 5 5m-5 8v-12"
                  ></path>
                </g></svg
              >맨위로
            </button>
          </div>
        </footer>
        <div class="sideBanner_SideBanner__g7jsK">
          <div class="sideBanner_section__Frd3t">
            <h5 class="sideBanner_header__AY2ab">
              <span data-media="narrow">여행 전 체크</span
              ><span data-media="full">여행 전에 필수 체크!</span>
            </h5>
            <menu class="sideBanner_list__Q7JG4"
              ><li class="sideBanner_item__WP9RQ" data-type="biztrip">
                <a
                  href="https://biztrip.naver.com"
                  class="sideBanner_anchor__cE2iK"
                  target="_blank"
                  rel="noreferrer"
                  ><b class="sideBanner_title__qmTlL"
                    ><span data-media="narrow">출장 항공권</span
                    ><span data-media="full">해외출장 가시나요?</span></b
                  ><span class="sideBanner_desc__c9Bba" data-media="full"
                    >출장 선호 항공편 알려드려요</span
                  ></a
                >
              </li>
              <li class="sideBanner_item__WP9RQ" data-type="secretcoupon">
                <a
                  href="https://travel-event.naver.com/promotion/secretcoupon"
                  class="sideBanner_anchor__cE2iK"
                  target="_blank"
                  rel="noreferrer"
                  ><b class="sideBanner_title__qmTlL"
                    ><span data-media="narrow">호텔 할인쿠폰</span
                    ><span data-media="full">항공 구매시 호텔 15% 할인</span></b
                  ><span class="sideBanner_desc__c9Bba" data-media="full"
                    >여행 출발 전 언제든 사용 가능</span
                  ></a
                >
              </li>
              <li class="sideBanner_item__WP9RQ" data-type="travelclub">
                <a
                  href="https://travel-event.naver.com/promotion/travelclub"
                  class="sideBanner_anchor__cE2iK"
                  target="_blank"
                  rel="noreferrer"
                  ><b class="sideBanner_title__qmTlL"
                    ><span data-media="narrow">멤버십 혜택</span
                    ><span data-media="full">멤버십 혜택 챙기셨나요?</span></b
                  ><span class="sideBanner_desc__c9Bba" data-media="full"
                    >할인은 기본, 적립은 중복으로</span
                  ></a
                >
              </li>
              <li class="sideBanner_item__WP9RQ" data-type="for_u">
                <a
                  href="https://travel4u.naver.com"
                  class="sideBanner_anchor__cE2iK"
                  target="_blank"
                  rel="noreferrer"
                  ><b class="sideBanner_title__qmTlL"
                    ><span data-media="narrow">For U</span
                    ><span data-media="full">호텔 추천 For U</span></b
                  ><span class="sideBanner_desc__c9Bba" data-media="full"
                    >맞춤 호텔을 추천해드려요</span
                  ></a
                >
              </li></menu
            >
          </div>
          <div class="sideBanner_section__Frd3t">
            <h5 class="sideBanner_header__AY2ab">
              <span data-media="narrow">진행중 이벤트</span
              ><span data-media="full">진행중인 이벤트</span>
            </h5>
            <menu class="sideBanner_list__Q7JG4"
              ><li class="sideBanner_item__WP9RQ" data-type="1">
                <a
                  href="https://campaign.nbilly.naver.com/flightevent"
                  class="sideBanner_anchor__cE2iK"
                  target="_blank"
                  rel="noreferrer"
                  ><b class="sideBanner_title__qmTlL"
                    ><span data-media="narrow">항공권 할인+적립</span
                    ><span data-media="full">항공권 할인+적립!</span></b
                  ><span class="sideBanner_desc__c9Bba" data-media="full"
                    >네이버에서 비행기표 사는날</span
                  ></a
                >
              </li></menu
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
