<html lang="ko" class="font_zoom1">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.naver.com/favicon.ico?1">
    <link href="https://editor-static.pstatic.net/v/basic/1.40.0/css/se.viewer.css" rel="stylesheet">
    <link href="https://editor-static.pstatic.net/v/basic/1.40.0/css/se.viewer.dark.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/notice.css">
    <title>고객센터</title>
</head>

<body>
    <div id="__next">
        <div class="noticeList_help_list__tOIcJ service_notice">
            <div class="GNB_gnb__239d4" role="banner">
                <div class="GNB_gnb_box__3uajP">
                    <div class="inner">
                        <div class="GNB_logo__Gab7u">
                            <a href="https://www.naver.com" class="GNB_naver_link__HRVWs">
                                <span
                                    class="blind">NAVER</span>
                            </a>
                            <h1 class="GNB_title__c7xQn"><a class="GNB_home_link__1v4jy"
                                    href="/index.help?lang=ko">고객센터</a></h1>
                        </div>
                        <div class="GNB_gnb_common__3cnye"><button type="button"
                                class="GNB_search_icon_btn__erBAu"><span class="blind">검색</span></button>
                            <div class="GNB_gnb_search_input__fCZQP" role="search"></div>

                            <button type="button" class="GNB_login__3psY5"><img
                                    src="https://ssl.pstatic.net/static/common/myarea/myInfo.gif" alt="로그인"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="noticeList_help_content__2IRV5" role="main">
                <div class="NoticeList_noticelist__3zCiU">
                    <div class="NoticeList_inner__1leoH">
                        <div class="EndTopTitle_top_title__1TJpl">
                            <div class="EndTopTitle_title_box__5AWVA">
                                <h2><button class="EndTopTitle_title__l_GCS" style="cursor:pointer">고객센터
                                    </button></h2><span class="EndTopTitle_text__UqYQT"></span>
                            </div>
                        </div>
                        <div class="NoticeList_notice_top__2waPS">
                            <div class="EndTab_search_tab__q_2gz">
                                <ul role="navigation" class="EndTab_tab_list__fVynU">
                                    <li><button type="button" aria-current="true"> <!-- -->공지사항</button></li>
                                    <li><button type="button" aria-current="false"> <!-- -->FAQ</button></li>
                                    <li><button type="button" aria-current="false"> <!-- -->질문하기</button></li>
                                </ul>
                            </div>
                            <div class="EndSearch_end_search__3ZRZ4" role="search"><input type="text" value=""
                                    placeholder="공지사항 검색" autocomplete="off" class="EndSearch_search__23EDf"
                                    title="공지사항 검색"><button type="button" class="EndSearch_btn_search__38Srb"><span
                                        class="blind">검색</span></button></div>
                        </div>
                        <div class="NoticeList_list_content__37Naz">
                            <ul class="NoticeList_list__ygoWG">
                                <li><a class="NoticeList_notice_link__2HN98"
                                        href="/notice/noticeView.help?noticeNo=16059&amp;serviceNo=1&amp;page=1&amp;lang=ko">
                                        <div class="NoticeList_notice_info__2U1n3"><span
                                                class="NoticeList_badge__2PrYB">공지</span><span
                                                class="NoticeList_title__3v0bG">네이버 ‘개인정보 처리방침’ 변경에 대한 안내 말씀드립니다.</span>
                                        </div><span class="NoticeList_date__3K-El">2024.06.21</span>
                                    </a></li>
                                <li><a class="NoticeList_notice_link__2HN98"
                                        href="/notice/noticeView.help?noticeNo=12994&amp;serviceNo=1&amp;page=1&amp;lang=ko">
                                        <div class="NoticeList_notice_info__2U1n3"><span
                                                class="NoticeList_badge__2PrYB">공지</span><span
                                                class="NoticeList_title__3v0bG">[안내] 네이버 사칭 메일에 주의해주세요.</span></div>
                                        <span class="NoticeList_date__3K-El">2023.09.11</span>
                                    </a></li>
                            </ul>
                            <ul class="NoticeList_list__ygoWG">
                                <li><a class="NoticeList_notice_link__2HN98"
                                        href="/notice/noticeView.help?noticeNo=16059&amp;serviceNo=1&amp;page=1&amp;lang=ko">
                                        <div class="NoticeList_notice_info__2U1n3"><span
                                                class="NoticeList_title__3v0bG">네이버 ‘개인정보 처리방침’ 변경에 대한 안내 말씀드립니다.</span>
                                        </div><span class="NoticeList_date__3K-El">2024.06.21</span>
                                    </a></li>
                                <li><a class="NoticeList_notice_link__2HN98"
                                        href="/notice/noticeView.help?noticeNo=15954&amp;serviceNo=1&amp;page=1&amp;lang=ko">
                                        <div class="NoticeList_notice_info__2U1n3"><span
                                                class="NoticeList_title__3v0bG">공식사이트 검색 결과 정보 개편 안내</span></div><span
                                            class="NoticeList_date__3K-El">2024.06.05</span>
                                    </a></li>
                            </ul>
                            <div class="NoticePagination_pagination__Pus_k"><span
                                    class="NoticePagination_page_num__3eG8Z"><button type="button"
                                        class="NoticePagination_num__1wg7Q NoticePagination_on__2wbfy"
                                        title="현재페이지">1</button><button type="button"
                                        class="NoticePagination_num__1wg7Q">2</button><button type="button"
                                        class="NoticePagination_num__1wg7Q">3</button><button type="button"
                                        class="NoticePagination_num__1wg7Q">4</button><button type="button"
                                        class="NoticePagination_num__1wg7Q">5</button></span><button type="button"
                                    class="NoticePagination_next__2KAPL NoticePagination_on__2wbfy"><span
                                        class="blind">다음페이지 보기</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ServiceFooter_service_footer__3zMcg" role="contentinfo">
                <div class="inner">
                    <div class="MainFooter_footer_botton_info__2i6o-">
                        <div class="MainFooter_footer_info__1iK-Y">
                            <ul class="MainFooter_footer_info_list__1I4ka">
                                <li><a href="https://policy.naver.com/rules/service.html">이용약관</a></li>
                                <li><a href="https://policy.naver.com/rules/privacy.html"><b>개인정보처리방침</b></a></li>
                                <li><a href="https://policy.naver.com/rules/youthpolicy.html">청소년보호정책</a></li>
                            </ul>
                        </div>
                        <div class="MainFooter_footer_info__1iK-Y">
                            <ul class="MainFooter_footer_info_list__1I4ka">
                                <li><span class="MainFooter_text__2NFTi">대표번호 : 1588-3820</span>
                                </li>
                                <li class="MainFooter_copyright__3fZ9k"><a href="https://www.navercorp.com"
                                        target="_blank" rel="noreferrer">ⓒ NAVER Corp.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>