<html lang="ko" class="font_zoom1">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/notice.css">
    <title>고객센터</title>
</head>
<div id="__next">
    <div class="noticeView_help_list__2aUph service_notice">
        <div class="GNB_gnb__239d4" role="banner">
            <div class="GNB_gnb_box__3uajP">
                <div class="inner">
                    <div class="GNB_logo__Gab7u"><a href="https://www.naver.com" class="GNB_naver_link__HRVWs"><span
                                class="blind">NAVER</span></a>
                        <h1 class="GNB_title__c7xQn"><a class="GNB_home_link__1v4jy" href="/index.help?lang=ko">고객센터</a>
                        </h1>
                    </div>
                    <div class="GNB_gnb_common__3cnye"><button type="button" class="GNB_search_icon_btn__erBAu"><span
                                class="blind">검색</span></button>
                        <div class="GNB_gnb_search_input__fCZQP" role="search"></div>
                        <a class="GNB_login__3psY5" href="https://nid.naver.com/user2/help/myInfoV2?lang=ko_KR"><img
                                src="https://phinf.pstatic.net/contact/20210919_171/1632050475539NE3fj_JPEG/C5B2FB83-444F-4EE3-A585-88EB6954E074.jpeg?type=s33"
                                alt="내정보"><span class="GNB_after_icon__3-atx"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="noticeView_help_content__vG07w" role="main">
            <div class="NoticeDetail_notice_detail__v-OwB">
                <div class="NoticeDetail_inner__2WI1a">
                    <div class="EndTopTitle_top_title__1TJpl">
                        <div class="EndTopTitle_title_box__5AWVA">
                            <h2><button class="EndTopTitle_title__l_GCS" style="cursor: default;">네이버 고객센터 공지사항</button>
                            </h2><span class="EndTopTitle_text__UqYQT"></span>
                        </div>
                    </div>
                    <div class="NoticeDetail_detail_top__3e1t0">
                        <h4 class="NoticeDetail_title__1Ewki">네이버 ‘개인정보 처리방침’ 변경에 대한 안내 말씀드립니다.</h4>
                        <div class="NoticeDetail_info_box__o6J6Y"><a class="NoticeDetail_service_img__cwD5V"
                                href="/index.help?lang=ko"><img
                                    src="/files/mobile/footer/202206/468a2553-a5f7-44b8-82f9-4e0655108e57.png"
                                    alt="네이버 고객센터"></a>
                            <div class="NoticeDetail_info__xF1Gx"><a class="NoticeDetail_name__1dST8"
                                    href="/index.help?lang=ko">네이버 고객센터</a><span class="NoticeDetail_date__2FhVF">
                                    2024.06.21</span></div>
                        </div>
                        <div class="NoticeDetail_add_btn_area__elUXn">
                            <div class="NoticeDetail_font_size_box__AxxwV"><button type="button"
                                    class="FontSizeBtn_font_size_btn__DA37f"><span class="blind">글자 크기
                                        변경</span></button></div>
                            <div class="NoticeDetail_share_btn__3wbHt"><button type="button"
                                    class="SocialPlugin_social_plugin__3BI-i naver-splugin" aria-haspopup="true"
                                    aria-label="소셜 공유" data-style="type_a"
                                    data-url="https://help.naver.com/notice/noticeView.help?noticeNo=16059&amp;serviceNo=1&amp;page=1&amp;lang=ko"
                                    data-title="네이버 ‘개인정보 처리방침’ 변경에 대한 안내 말씀드립니다."
                                    data-kakaotalk-title="네이버 ‘개인정보 처리방침’ 변경에 대한 안내 말씀드립니다." data-blog-source-form="2"
                                    data-cafe-source-form="2" data-prevent-short-url="on" data-blog-display="off"
                                    data-cafe-display="off" splugin-id="3108072281"><span
                                        class="blind naver-splugin-c">소셜 공유</span></button></div>
                        </div>
                    </div>
                    <div class="NoticeDetail_detail_content__1EO1p">
                        <div class="service-editor-wrap">
                            <div class="se-viewer se-theme-default" lang="ko-KR">
                                <!-- SE_DOC_HEADER_START -->

                                <!-- SE_DOC_HEADER_END -->
                                <div class="se-main-container">
                                    <div class="se-component se-text se-l-default"
                                        id="SE-6e25efde-28e6-400f-97ac-f10c49194082">
                                        <div class="se-component-content">
                                            <div class="se-section se-section-text se-l-default">
                                                <div class="se-module se-module-text">
                                                    <!-- SE-TEXT { -->
                                                    <p class="se-text-paragraph se-text-paragraph-align- "
                                                        style="line-height:1.8;"
                                                        id="SE-2627e4bb-90fe-4105-9018-a8984e066a81"><span
                                                            style="color:#666666;"
                                                            class="se-fs-fs13 se-ff-nanumsquare   "
                                                            id="SE-6e456b6b-a5bd-49f2-ae5b-7d26df4111cc">안녕하세요.</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="NoticeDetail_detail_list__12yHw">
                        <ul>
                            <li><a class="NoticeDetail_list_link__13rr_"
                                    href="/notice/noticeView.help?noticeNo=15954&amp;serviceNo=1&amp;page=1&amp;lang=ko">
                                    <div class="NoticeDetail_box__nXZwl"><span
                                            class="NoticeDetail_sub__3PYRC">이전</span><span
                                            class="NoticeDetail_title__1Ewki">공식사이트 검색 결과 정보 개편 안내</span></div><span
                                        class="NoticeDetail_date__2FhVF">2024.06.05</span>
                                </a></li>
                        </ul>
                    </div><a href="#" class="NoticeDetail_list_btn__3Mxw9">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>