<html lang="ko" class="font_zoom1">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/qna.css">
    <title>문의하기 : MYBOX</title>
</head>

<body>
    <div id="__next">
        <div class="input_help_ask_home_end__3MVNL">
            <div class="GNB_gnb__239d4" role="banner">
                <div class="GNB_gnb_box__3uajP">
                    <div class="inner">
                        <div class="GNB_logo__Gab7u"><a href="https://www.naver.com" class="GNB_naver_link__HRVWs"><span
                                    class="blind"></span></a>
                            <h1 class="GNB_title__c7xQn"><a class="GNB_home_link__1v4jy"
                                    href="/index.help?lang=ko">고객센터</a></h1>
                        </div>
                        <div class="GNB_gnb_common__3cnye"><button type="button"
                                class="GNB_search_icon_btn__erBAu"><span class="blind">검색</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input_help_content__1SdzH" role="main">
                <div class="InquiryInput_ask_form__2YTvq">
                    <div class="inner">
                        <div class="EndTopTitle_top_title__1TJpl">
                            <div class="EndTopTitle_title_box__5AWVA">
                                <h2><button class="EndTopTitle_title__l_GCS" style="cursor:default">문의하기</button></h2>
                                <span class="EndTopTitle_text__UqYQT">궁금하신 점을 남겨주시면 접수 순서대로 답변 드리겠습니다.</span>
                            </div>
                        </div>
                        <form action="" style="display:block" role="form">
                            <div class="InquiryInput_notice__FBSnN"></div>
                            <fieldset class="InquiryInput_field_set__358n2">
                                <legend class="blind">문의내용 작성</legend>
                                <div class="InquiryInput_guide_text__3sBeo"> ※ 네이버 고객센터는 산업안전보건법을 준수하여 고객응대근로자를 보호하고
                                    있습니다. <br>
                                    성희롱, 욕설 등의 폭언을 하지 말아주세요. 폭언 시 상담이 제한되고 법령에 따라 조치될 수 있습니다.</div>
                                <div class="InquiryInput_field_box__eMYmT">
                                    <dl class="InquiryInput_flex_box__33T7A">
                                        <dt><label for="mocustomerMemberID">아이디</label></dt>
                                        <dd>
                                            <div class="InquiryInput_input_box__1-GT-"><span
                                                    class="InquiryInput_id_text__1siil">tlsgudrhfem</span></div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="InquiryInput_field_box__eMYmT">
                                    <dl>
                                        <dt class="InquiryInput_essential__2eW9V"><label for="moText1CC">제목</label><em
                                                class="InquiryInput_essential_text__2G897">(필수)</em></dt>
                                        <dd>
                                            <div class="InquiryInput_input_box__1-GT-"><input id="moText1CC" type="text"
                                                    class="InquiryInput_input_text__2pNuL" title="문의 제목을 입력해주세요."
                                                    placeholder="문의 제목을 입력해주세요." maxlength="200" value=""
                                                    aria-describedby="message-pov461zifwk"></div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="InquiryInput_write_area__29Wkw">
                                    <dl>
                                        <dt><label for="moText2SB">문의 내용</label><em
                                                class="InquiryInput_essential_text__2G897">(필수)</em></dt>
                                        <dd><textarea id="moText2SB" placeholder="구체적인 내용을 기재해 주세요." maxlength="1000"
                                                aria-describedby="message-1f8bdeiksrp"></textarea><span
                                                class="InquiryInput_text_count__2fDEu"><span>0</span> 자 입력 / 최대
                                                1000자</span></dd>
                                    </dl>
                                </div>
                                <div class="InquiryInput_field_box__eMYmT">
                                    <dl>
                                        <dt><label for="moattachFile">파일첨부</label><em
                                                class="InquiryInput_essential_text__2G897">(선택)</em></dt>
                                        <dd>
                                            <div class="file_attach">
                                                <div><button class="FileAttach_file_btn__177Fl" aria-haspopup="true"
                                                        aria-controls="File_add"
                                                        aria-describedby="message-fn7pfjb3sx">파일첨부</button>
                                                    <div class="FileAttach_attach_file_ly__34lM3" aria-hidden="true"
                                                        id="File_add">
                                                        <div class="FileAttach_dimmed__KqGWR"></div>
                                                        <div class="FileAttach_ly_box__3aDPM"><strong
                                                                class="FileAttach_ly_title__14Pgx">파일첨부</strong>
                                                            <div class="FileAttach_ly_file_info__1IL2O">
                                                                <div class="FileAttach_ly_file_name__33jH8"></div>
                                                                <button class="FileAttach_ly_file_btn__nn9DQ"
                                                                    role="button" title="파일 선택하기">파일첨부</button><input
                                                                    type="file"
                                                                    accept=".jpeg, .jpg, .gif, .bmp, .png, .doc, .docx, .xls, .xlsx, .xlsm, .ppt, .pptx, .mkv, .mp4, .m4v, .flv, .avi, .mov, .wmv, .mp3, .m4a, .wav, .aac, .amr, .hwp, .hwpx, .pdf, .txt, .eml, .tif, .tiff"
                                                                    style="display: none;">
                                                            </div>
                                                            <p class="FileAttach_ly_text__1yV3H">* 총 20MB까지(5개 파일 이하)
                                                                첨부하실 수
                                                                있습니다.<br>exe, zip 등 일부 파일형식은 첨부하실 수 없습니다.</p>
                                                            <div class="FileAttach_ly_btn__31FmE"><a role="button"
                                                                    href="/inquiry/input.help">확인</a><a role="button"
                                                                    href="/inquiry/input.help">닫기</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="FileAttach_info_box__2vf43" aria-expanded="true">
                                                    <div class="FileAttach_sub_text__sXK4r">
                                                        <p>파일명은 - , _를 제외한 특수문자는 허용되지 않습니다.<br>아래 파일 형식만 첨부할 수 있습니다.</p>
                                                        <button type="button" class="FileAttach_open_btn__29SGj"><span
                                                                class="blind">내용
                                                                펼치기</span></button>
                                                    </div>
                                                    <ul class="FileAttach_file_type__3ThcV">
                                                        <li>이미지 : jpeg, jpg, gif, bmp, png</li>
                                                        <li>MS오피스 : doc, docx, xls, xlsm, ppt, pptx</li>
                                                        <li>영상 : mkv, mp4, m4v, flv, avi, mov, wmv</li>
                                                        <li>소리 : mp3, m4a, wav, aac, amr</li>
                                                        <li>한글 : hwp, hwpx</li>
                                                        <li>그 외 : pdf, txt, eml, tif, tiff</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="InquiryInput_field_box__eMYmT InquiryInput_privacy__1l7aN">
                                    <dl>
                                        <dt class="InquiryInput_essential__2eW9V"><label for="moindividualInfoYn">개인정보
                                                수집
                                                동의</label><em class="InquiryInput_essential_text__2G897">(필수)</em></dt>
                                        <dd>
                                            <p class="InquiryInput_desc_text__2cyuy">- 수집하는 개인정보 항목: 이메일 주소, MYBOX 사용 중인
                                                ID, 이전하려는
                                                ID<br><br>
                                                개인정보는 문의 접수, 고객 불편 사항 확인 및 처리 결과 회신에 이용되며 전자상거래법 등 관련 법령에 따라 <span
                                                    style="font-size: 19.2px; color: #2D2D2D;"><strong>3년간
                                                        보관되고,</strong></span>
                                                첨부파일은 <span style="font-size: 19.2px; color: #2D2D2D;"><strong>1개월간
                                                        보관됩니다.</strong></span><br>
                                                이용자는 본 동의를 거부할 수 있으나, 미동의 시 문의 접수가 불가능합니다.</p>
                                            <div class="InquiryInput_check_box__3e9tB"><input type="checkbox"
                                                    id="check_select1_moindividualInfoYn"
                                                    aria-describedby="message-3ay95wi9d2k"><label
                                                    for="check_select1_moindividualInfoYn">동의합니다.</label></div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="CommonBtn_common_btn_wrap__20kqy">
                                    <div class="CommonBtn_common_btn_box__3iWhO"><button type="button"
                                            class="CommonBtn_common_btn__Kg8Jd CommonBtn_on__Yg79Y">문의하기</button></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="ServiceFooter_service_footer__3zMcg" role="contentinfo">
                <div class="inner">
                    <div class="MainFooter_footer_botton_info__2i6o-">
                        <div class="MainFooter_footer_info__1iK-Y MainFooter_service__7pT0r">
                            <ul class="MainFooter_footer_info_list__1I4ka">
                                <li>
                                    <div class="MainFooter_language_select__1Ye5N"><a
                                            class="MainFooter_filter_title__2xLIs" href="#" aria-expanded="false"><i
                                                class="MainFooter_menu_icon__c-LPN MainFooter_lang__24ATi"></i>한국어</a>
                                        <div class="MainFooter_filter_wrap__12-3O" aria-hidden="true"><strong
                                                class="blind">언어선택</strong>
                                            <div class="MainFooter_filter_list__3OChm">
                                                <ul role="listbox">
                                                    <li class="MainFooter_item__2zIL5"><a type="button"
                                                            aria-current="true" href="#">한국어</a></li>
                                                    <li class="MainFooter_item__2zIL5"><a type="button"
                                                            href="#">English</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">로그아웃</a></li>
                                <li><a href="https://www.naver.com/more.html">전체서비스</a></li>
                            </ul>
                        </div>
                        <div class="MainFooter_footer_info__1iK-Y">
                            <ul class="MainFooter_footer_info_list__1I4ka">
                                <li><a href="https://policy.naver.com/rules/service.html">이용약관</a></li>
                                <li><a href="https://policy.naver.com/rules/privacy.html"><b>개인정보처리방침</b></a></li>
                                <li><a href="https://policy.naver.com/rules/youthpolicy.html">청소년보호정책</a></li>
                            </ul>
                        </div>
                        <div class="MainFooter_footer_info__1iK-Y">
                            <ul class="MainFooter_footer_info_list__1I4ka">
                                <li><span class="MainFooter_text__2NFTi">대표번호 : 1588-3820</span>
                        </div>
                    </div>
                    </li>
                    <li class="MainFooter_copyright__3fZ9k"><a href="https://www.navercorp.com" target="_blank"
                            rel="noreferrer">ⓒ NAVER Corp.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>