.Filters_RoomFilter__2GBbq {
    white-space: nowrap
}

@media only screen and (max-width: 767px) {
    .Filters_RoomFilter__2GBbq {
        overflow-x:scroll;
        margin-top: 17px;
        margin-right: -20px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Filters_RoomFilter__2GBbq {
        overflow-x:scroll;
        margin-top: 15px;
        padding-bottom: 5px
    }

    .Filters_RoomFilter__2GBbq::-webkit-scrollbar {
        display: block;
        height: 5px
    }

    .Filters_RoomFilter__2GBbq::-webkit-scrollbar-track {
        background-color: #fff
    }

    .Filters_RoomFilter__2GBbq::-webkit-scrollbar-thumb {
        background: #ddd;
        -webkit-border-radius: 10px;
        border-radius: 10px
    }
}

.Filters_RoomFilter__2GBbq .Filters_filter__MTdCB {
    color: #424242;
    -webkit-border-radius: 19.5px;
    border-radius: 19.5px;
    border: 1px solid #e9e9e9
}

.Filters_RoomFilter__2GBbq .Filters_filter__MTdCB:nth-child(n+2) {
    margin-left: 6px
}

.Filters_RoomFilter__2GBbq .Filters_filter__MTdCB[aria-checked=true] {
    font-weight: 700;
    color: #00b3c2;
    border: 1px solid rgba(0,196,213,.27);
    background-color: rgba(0,196,213,.03)
}

@media only screen and (max-width: 767px) {
    .Filters_RoomFilter__2GBbq .Filters_filter__MTdCB {
        padding:6px 15px 7px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.3px
    }

    .Filters_RoomFilter__2GBbq .Filters_filter__MTdCB:last-child {
        margin-right: 20px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Filters_RoomFilter__2GBbq .Filters_filter__MTdCB {
        padding:8px 14px 6px;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: -.2px
    }
}

.PhotoArea_PhotoArea__xXnpf {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .PhotoArea_PhotoArea__xXnpf {
        margin-top:15px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoArea_PhotoArea__xXnpf {
        margin-top:10px
    }
}

.PhotoArea_PhotoArea__xXnpf .PhotoArea_img_box__cuZcY {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .PhotoArea_PhotoArea__xXnpf .PhotoArea_img_box__cuZcY {
        padding-bottom:100%
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoArea_PhotoArea__xXnpf .PhotoArea_img_box__cuZcY {
        padding-bottom:36.76%
    }
}

.PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

@media only screen and (max-width: 767px) {
    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,33.3333333333%);
        grid-gap: 2px;
        gap: 2px
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child {
        grid-column: 1/3
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:nth-last-child(-n+4) {
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:nth-last-child(-n+2) {
        grid-row: 1/3;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:last-child {
        grid-row: 1/4;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(2):nth-last-child(-n+3) {
        grid-row: 2/3;
        grid-column: 1/2
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(2):nth-last-child(-n+2) {
        grid-row: 2/3;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(2):last-child {
        grid-row: 3/4;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(3):nth-last-child(-n+2) {
        grid-column: 2/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(3):last-child {
        grid-row: 3/4;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(4) {
        grid-column: 2/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(4):last-child {
        grid-row: 3/4;
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(5) {
        grid-column: 1/3
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(5):last-child {
        grid-column: 1/4
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(6)~* {
        display: none
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,50%);
        grid-gap: 4px;
        gap: 4px
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:nth-last-child(-n+6) {
        grid-row: 1/2;
        grid-column: 1/3
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:nth-last-child(-n+5) {
        grid-row: 1/3;
        grid-column: 1/3
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:first-child:last-child {
        grid-row: 1/3;
        grid-column: 1/5
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(2):last-child {
        grid-row: 1/3;
        grid-column: 3/5
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(2):nth-last-child(-n+3) {
        grid-column: 3/5
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(3):last-child {
        grid-row: 2/3;
        grid-column: 3/5
    }

    .PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(6):last-child,.PhotoArea_PhotoArea__xXnpf .PhotoArea_inner__j7rRZ .PhotoArea_img_wrap__J566D:nth-child(7):last-child {
        grid-column: 3/5
    }
}

.PhotoArea_PhotoArea__xXnpf .PhotoArea_img_wrap__J566D .PhotoArea_img__EKJBP {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs {
    margin: 0;
    color: #000
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs {
        font-size:18px;
        line-height: 1.33;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs {
        font-size:20px;
        line-height: 1.35;
        letter-spacing: 2px
    }
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs .PhotoByRoom_sub__hnGc1 {
    margin-left: 6px;
    vertical-align: 1px;
    font-weight: 400;
    color: #00b3c2
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs .PhotoByRoom_sub__hnGc1 {
        font-size:14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs .PhotoByRoom_sub__hnGc1 {
        font-size:13px;
        line-height: 1.54;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_title__Mh6Bs .PhotoByRoom_sub__hnGc1 {
        vertical-align:2px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_provide__eNB0L {
    color: #8f8f8f
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_provide__eNB0L {
        font-size:14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n .PhotoByRoom_provide__eNB0L {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #424242;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u:after {
    display: inline-block;
    margin-left: 6px;
    background-image: url(/images/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -268px -217px;
    width: 6px;
    height: 11px;
    content: ""
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
        padding:15px 0 11px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
        padding:19px 0 16px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
        padding:19px 0 16px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.PhotoByRoom_PhotoByRoom__BiATg {
    border-top: 1px solid #eff3f6
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg>.PhotoByRoom_inner__1bUXh {
        padding-block:35px 36px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg>.PhotoByRoom_inner__1bUXh {
        padding-block:52px
    }
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_header__YnA_n>:first-child {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_provide_img__TNM_J {
    font-size: 0;
    margin-left: 6px
}

.PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_provide_img__TNM_J:before {
    display: inline-block;
    vertical-align: -10px;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -186px -121px;
    width: 54px;
    height: 31px;
    content: ""
}

@media only screen and (max-width: 767px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
        margin-top:15px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .PhotoByRoom_PhotoByRoom__BiATg .PhotoByRoom_photo_anchor__hx30u {
        margin-top:30px
    }
}

/*# sourceMappingURL=e9d1485df8773577.css.map*/
