.Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #424242;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7
}

.Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt:after {
    display: inline-block;
    margin-left: 6px;
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -268px -217px;
    width: 6px;
    height: 11px;
    content: ""
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt {
        padding:15px 0 11px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt {
        padding:19px 0 16px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt {
        padding:19px 0 16px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb {
    position: relative
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb {
        padding-block:35px 36px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb {
        padding-block:50px
    }
}

.Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #eff3f6;
    content: ""
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb:before {
        margin:0 60px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G>.Rates_inner__CKTzb:before {
        max-width:1110px;
        margin: 0 auto
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI>:first-child {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI>:nth-child(2) {
        margin-top: 17px;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI>:nth-child(3) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI>:last-child {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }
}

.Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa {
    margin: 0;
    color: #000
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa {
        margin-bottom:17px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa {
        font-size:20px;
        line-height: 1.35;
        letter-spacing: 2px
    }
}

.Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa .Rates_sub__cjoPq {
    margin-left: 6px;
    vertical-align: 1px;
    font-weight: 400;
    color: #00b3c2
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa .Rates_sub__cjoPq {
        font-size:14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa .Rates_sub__cjoPq {
        font-size:13px;
        line-height: 1.54;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_Header__G9QKI .Rates_title__ijIAa .Rates_sub__cjoPq {
        vertical-align:2px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6>:first-child {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 {
        padding:23px 0 21px
    }
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_txt__4uQii {
    margin-right: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -.32px;
    color: #ff5353
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_txt__4uQii:before {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 6px;
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -135px -270px;
    width: 14px;
    height: 14px;
    content: ""
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_txt__4uQii {
        display:block
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_txt__4uQii {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_toggle__0O4tg {
    color: #424242
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_toggle__0O4tg {
        font-size:14px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_toggle__0O4tg {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.2px;
        color: #424242
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_tax_toggle__0O4tg .Rates_day__NMyBc {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_toggle_btn__0IfKD {
    position: relative;
    width: 30px;
    height: 11px;
    vertical-align: 5px;
    margin: 0 14px 0 9px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    border: 1px solid rgba(0,0,0,.02);
    background-color: #e5e8eb
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_toggle_btn__0IfKD:before {
    position: absolute;
    left: -3px;
    top: -5px;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_toggle_btn__0IfKD[aria-checked=true] {
    background-color: #00c4d5
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_toggle_btn__0IfKD[aria-checked=true]:before {
    left: auto;
    right: -3px
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE {
    margin-left: auto;
    display: block
}

.Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE:before {
    display: inline-block;
    margin-right: 14px;
    width: 1px;
    height: 14px;
    background-color: #e9e9e9;
    content: ""
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE:after {
        display:inline-block;
        vertical-align: -2px;
        background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -264px -204px;
        width: 41px;
        height: 15px;
        content: ""
    }

    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE[aria-selected=true]:after {
        background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -264px -219px;
        width: 41px;
        height: 15px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE:after {
        display:inline-block;
        vertical-align: -2px;
        background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: 0 -321px;
        width: 44px;
        height: 16px;
        content: ""
    }

    .Rates_SummaryRates__GTp8G .Rates_filter_tax_npay__xR0G6 .Rates_npay__ECRVE[aria-selected=true]:after {
        background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -306px -270px;
        width: 44px;
        height: 16px
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_my_widget_container__43pmV {
        margin-bottom:10px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_my_widget_container__43pmV {
        margin-top:18px
    }
}

.Rates_SummaryRates__GTp8G .Rates_list_loading__OAxqI {
    position: relative
}

.Rates_SummaryRates__GTp8G .Rates_list_loading__OAxqI:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 38px;
    height: 10px;
    content: "";
    background: url(/images/loading/spinner.gif) 0 0/100% auto no-repeat
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_list_loading__OAxqI {
        height:495px;
        background: url(/images/loading/SummaryRates_list_loading_mobile.png) 0 0/100% auto no-repeat
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_list_loading__OAxqI {
        height:727px;
        background: url(/images/loading/SummaryRates_list_loading_tablet.png) 0 0/100% auto no-repeat
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_list_loading__OAxqI {
        height:727px;
        background: url(/images/loading/SummaryRates_list_loading_pc.png) 0 0/100% auto no-repeat
    }
}

.Rates_SummaryRates__GTp8G .Rates_pkg_list_loading__rOrHc {
    position: relative
}

.Rates_SummaryRates__GTp8G .Rates_pkg_list_loading__rOrHc:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 38px;
    height: 10px;
    content: "";
    background: url(/images/loading/spinner.gif) 0 0/100% auto no-repeat
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_pkg_list_loading__rOrHc {
        height:922px;
        background: url(/images/loading/SummaryRates_pkg_list_loading_mobile.png) 0 0/100% auto repeat-y
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_pkg_list_loading__rOrHc {
        height:835px;
        background: url(/images/loading/SummaryRates_pkg_list_loading_tablet.png) 0 0/100% auto repeat-y
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_pkg_list_loading__rOrHc {
        height:835px;
        background: url(/images/loading/SummaryRates_pkg_list_loading_pc.png) 0 0/100% auto repeat-y
    }
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O {
    position: relative;
    display: grid;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #f4f4f4
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O>.Rates_booking_info__eiEAu {
    grid-area: booking
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O>.Rates_price_info__hopOz {
    grid-area: price
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O>.Rates_button_info__jf4QR {
    grid-area: button
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O:first-child {
    border-top: 0
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O {
        grid-template-areas:"booking price";
        grid-template-columns: auto 1fr;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 16px 0 19px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O {
        grid-template-areas:"booking price";
        grid-template-columns: auto 250px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG>.Rates_item__Mh6_O {
        grid-template-areas:"booking price button";
        grid-template-columns: auto 290px 158px;
        min-height: 120px
    }

    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_is_notLogin__6JB02 {
        grid-template-areas: "booking price";
        grid-template-columns: auto 290px;
        min-height: 120px
    }

    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_is_notLogin__6JB02 .Rates_price_info__hopOz {
        padding-right: 0
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 {
        margin:0 -20px;
        padding-right: 20px;
        padding-left: 20px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 {
        margin:0 -60px;
        padding-right: 60px;
        padding-left: 60px
    }
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_self__EEMTP {
    margin-right: 10px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_self__EEMTP {
        width:100%
    }
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_self__EEMTP .Rates_txt__DQv0v {
    color: #8f8f8f
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_self__EEMTP .Rates_txt__DQv0v {
        padding:10px 0 7px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_self__EEMTP .Rates_txt__DQv0v {
        vertical-align:1px;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: -.3px
    }
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_item__Mh6_O.Rates_hotel_self__TUk84 .Rates_anchor__ds_3s {
    left: 0;
    right: 0
}

.Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_anchor__ds_3s {
    position: absolute;
    top: 0;
    bottom: 0
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_anchor__ds_3s {
        left:-20px;
        right: -20px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_anchor__ds_3s {
        left:-60px;
        right: -60px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_compare_list__J3_RG .Rates_anchor__ds_3s {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu {
    vertical-align: 4px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu {
        padding-left:3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 33px 0 36px 3px
    }

    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 10px
    }

    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu>:last-child {
        margin-right: 0
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_ota__tO_2u .Rates_img__MHhIr {
    vertical-align: top
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_ota__tO_2u .Rates_img__MHhIr {
        height:30px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_ota__tO_2u .Rates_img__MHhIr {
        height:36px
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_secretmall__9Uj9e {
    color: #424242
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_secretmall__9Uj9e .Rates_txt__DQv0v {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.3px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_secretmall__9Uj9e .Rates_txt__DQv0v {
        line-height:30px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_secretmall__9Uj9e .Rates_txt__DQv0v {
        line-height:36px
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_package__F8PMi {
    color: #00b3c2
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_package__F8PMi .Rates_txt__DQv0v {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.3px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_package__F8PMi .Rates_txt__DQv0v {
        line-height:30px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_package__F8PMi .Rates_txt__DQv0v {
        line-height:36px
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_naver__jiOXL {
    display: block;
    font-size: 0
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_naver__jiOXL {
        padding:6px 0
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_naver__jiOXL:before {
    display: inline-block;
    content: ""
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_naver__jiOXL:before {
        background-image:url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -306px -252px;
        width: 42px;
        height: 18px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_booking_naver__jiOXL:before {
        background-image:url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -234px -73px;
        width: 58px;
        height: 36px
    }

    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_tag_wrap__dtbxK {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_tag_wrap__dtbxK>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 5px
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_save__BWLKG {
        width:100%;
        margin-right: 5px;
        vertical-align: inherit
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_save__BWLKG .Rates_txt__DQv0v {
    vertical-align: middle;
    color: #0abe16
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_save__BWLKG .Rates_txt__DQv0v {
        font-size:14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_save__BWLKG .Rates_txt__DQv0v {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npay__tQVFj,.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npayplus__T8Qlp,.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npoint__XApxc {
    display: inline-block;
    margin-right: 4px;
    font-size: 0;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npoint__XApxc {
    vertical-align: 11px;
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -293px -63px;
    width: 13px;
    height: 13px
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npay__tQVFj {
    vertical-align: 10px;
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -232px -217px;
    width: 36px;
    height: 13px
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_ico_npayplus__T8Qlp {
    vertical-align: 11px;
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -187px -217px;
    width: 45px;
    height: 13px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_travelclub__EDL5m {
        display:block;
        margin-top: 5px;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_travelclub__EDL5m {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_accommodationfestival__Ajmub {
    display: block;
    padding-block:1px 0;padding-inline:3px;width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid var(--emphasis);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 700;
    color: var(--emphasis);
    letter-spacing: -.5px;
    line-height: 13px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_accommodationfestival__Ajmub {
        margin-top:5px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_booking_info__eiEAu .Rates_accommodationfestival__Ajmub {
        margin-top:-1px
    }
}

.Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_main__qN6mK {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_main__qN6mK {
        margin-top:2px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.3px;
        color: #424242
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_main__qN6mK {
        margin-top:7px;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: -.28px;
        color: #242424
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_options__Av8w4 {
        margin-top:7px
    }
}

.Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_tag__OI3AT {
    display: inline-block;
    margin-right: 6px;
    color: #777;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #f7f7f7
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_tag__OI3AT {
        padding:2px 6px 1px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_option_info__UCcy9 .Rates_tag__OI3AT {
        margin-top:9px;
        padding: 4px 6px 3px;
        font-size: 11px;
        line-height: 1.45;
        letter-spacing: -.28px
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz {
    text-align: right
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz {
        padding-right:29px
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK {
    display: none;
    position: absolute;
    width: 240px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    font-size: 13px;
    line-height: 1.54;
    background-color: #fff;
    border: 1px solid #4a566a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 1
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK:before {
    position: absolute;
    left: 30%;
    top: -5px;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    border-top: 1px solid #4a566a;
    border-left: 1px solid #4a566a;
    content: "";
    z-index: 2
}

@media only screen and (max-width: 374px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK:before {
        display:none
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK {
        top:57px;
        right: 0;
        padding: 11px 15px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK {
        top:83px;
        right: 0;
        padding: 15px 21px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK {
        top:80px;
        right: 158px;
        padding: 18px 21px
    }
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK .Rates_close__BE7mP {
        position:absolute;
        top: 0;
        right: 0;
        padding: 10px
    }

    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK .Rates_close__BE7mP:before {
        display: block;
        background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
        -webkit-background-size: 372px auto;
        background-size: 372px auto;
        background-position: -340px -54px;
        width: 10px;
        height: 10px;
        content: ""
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK .Rates_txt_title___MsC5 {
    color: #000
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_label_area__pMnHU .Rates_info_popup__vvYGK .Rates_txt_desc__SoYds {
    margin-top: 10px;
    color: #999
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_coupon__rFOFm {
    position: relative;
    display: inline-block;
    margin-right: 13px;
    padding: 1px 4px 1px 7px;
    vertical-align: 1px;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.64;
    color: #fff;
    background-color: #00b0f6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_coupon__rFOFm:before {
    position: absolute;
    top: 2px;
    right: -6px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: -webkit-linear-gradient(45deg,transparent 11px,#00b0f6 0),transparent;
    background: linear-gradient(45deg,transparent 11px,#00b0f6 0),transparent;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_price__WaAh1 {
    display: inline-block;
    font-weight: 700;
    color: #ff5353
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_price__WaAh1 {
        margin-top:3px;
        font-size: 16px;
        line-height: 1.44;
        letter-spacing: -.5px
    }

    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_price__WaAh1:after {
        display: inline-block;
        margin: 0 3px 0 8px;
        vertical-align: 1px;
        background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: -262px -253px;
        width: 6px;
        height: 10px;
        content: ""
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_price__WaAh1 {
        font-size:18px;
        line-height: 1.39
    }

    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_price__WaAh1:after {
        display: inline-block;
        margin: 0 2px 0 8px;
        vertical-align: 1px;
        background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: -262px -253px;
        width: 6px;
        height: 10px;
        content: ""
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_save_price__TH0vS {
    display: block;
    color: #0abe16
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_save_price__TH0vS {
        margin:4px 16px 0 0;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_save_price__TH0vS {
        margin:4px 16px 0 0;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_save_price__TH0vS {
        margin-top:6px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_amount__zqGoS {
    font-weight: 700
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login__xZRBh {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: underline;
    color: #0abe16
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login__xZRBh:after {
        display:inline-block;
        margin: 0 3px 0 8px;
        vertical-align: 1px;
        background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: -262px -253px;
        width: 6px;
        height: 10px;
        content: ""
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login__xZRBh:after {
        display:inline-block;
        margin: 0 2px 0 8px;
        vertical-align: 1px;
        background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: -262px -253px;
        width: 6px;
        height: 10px;
        content: ""
    }
}

.Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login_btn__SnG6w {
    display: block;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -264px -249px;
    width: 39px;
    height: 13px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login_btn__SnG6w {
        margin:7px 16px 0 auto
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login_btn__SnG6w {
        margin:10px 16px 0 auto
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_price_info__hopOz .Rates_login_btn__SnG6w {
        margin:10px 0 0 auto
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR>.Rates_btn_wrap__9PG5f {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR>.Rates_dsc__I6ZOv {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 23px 24px;
        border-top: 1px solid #d8edef;
        border-bottom: 1px solid #d8edef;
        background-color: #f4fcfd
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR>.Rates_dsc__I6ZOv {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR:before {
        position: absolute;
        top: -7px;
        left: 0;
        right: 0;
        width: 12px;
        height: 12px;
        margin: 0 auto;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-top: 1px solid #d8edef;
        border-left: 1px solid #d8edef;
        background-color: #f4fcfd;
        content: ""
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv {
    color: #424242;
    text-indent: -10px;
    padding-left: 10px
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv:before {
    display: inline-block;
    margin-right: 4px;
    vertical-align: -2px;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -336px -178px;
    width: 14px;
    height: 14px;
    content: ""
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv {
        font-size:13px;
        line-height: 1.62;
        letter-spacing: -.28px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv .Rates_em__Ljv1u {
    color: #0abe16
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_dsc__I6ZOv .Rates_ico_npoint__XApxc {
    display: inline-block;
    margin: 0 4px 0 8px;
    vertical-align: 11px;
    font-size: 0;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -211px -307px;
    width: 13px;
    height: 13px;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
    display: inline-block;
    text-align: center
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5:after,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR:after {
    top: 14px;
    right: 14px;
    margin-left: 2px;
    vertical-align: 2px
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
        height:34px;
        margin: 0 5px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
        height:32px;
        margin: 0 3px;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
        width:127px;
        height: 32px;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -.2px
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5[aria-expanded=true]~.Rates_popup_booking__PgLo4 {
        display: block;
        top: 42px
    }
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR[aria-expanded=true]~.Rates_popup_booking__PgLo4 {
        display:block
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR[aria-expanded=true]~.Rates_popup_booking__PgLo4 {
        display:block;
        top: 85px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 {
    display: none;
    z-index: 1
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4:before {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        content: "";
        z-index: 10
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 {
        position:absolute;
        right: 0;
        top: 0;
        width: 300px;
        padding: 15px 20px 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        background-color: #fff;
        border: 1px solid #4a566a;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 4px 20px -3px rgba(0,0,0,.18);
        box-shadow: 0 4px 20px -3px rgba(0,0,0,.18)
    }

    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4:after {
        position: absolute;
        top: -5px;
        right: 60px;
        width: 8px;
        height: 8px;
        margin: 0 auto;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #fff;
        border-top: 1px solid #4a566a;
        border-left: 1px solid #4a566a;
        content: "";
        z-index: 2
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_inner__CKTzb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_inner__CKTzb {
        position:fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: left;
        background-color: #fff;
        border: 1px solid #4a566a;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 4px 20px -3px rgba(0,0,0,.18);
        box-shadow: 0 4px 20px -3px rgba(0,0,0,.18);
        z-index: 20
    }
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_inner__CKTzb {
        width:280px;
        padding: 22px 24px 17px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_inner__CKTzb {
        width:300px;
        padding: 28px 31px 17px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_tit__Z2Ne6 {
    font-weight: 700;
    color: #003580
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_tit__Z2Ne6 {
        font-size:20px;
        line-height: 1.4;
        letter-spacing: -.45px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_tit__Z2Ne6 {
        font-size:18px;
        line-height: 1.56;
        letter-spacing: 2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_tit__Z2Ne6 {
        font-size:14px;
        line-height: 1.71
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_sub__cjoPq {
    color: #242424
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_sub__cjoPq {
        margin-top:10px;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: .51px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_sub__cjoPq {
        margin-top:10px;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: 1.31px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_sub__cjoPq {
        margin-top:5px;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: 1.61px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_em__Ljv1u {
    font-weight: 700
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_booking_anchor__NS7RD {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(0,0,0,.04);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #003580
}

@media only screen and (max-width: 767px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_booking_anchor__NS7RD {
        margin:18px 0 6px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_booking_anchor__NS7RD {
        margin:20px 0 12px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -.2px
    }
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_booking_anchor__NS7RD {
        margin-top:17px;
        height: 32px;
        font-size: 13px;
        line-height: 32px;
        letter-spacing: 1.5px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_booking_anchor__NS7RD:after {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 6px;
    vertical-align: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_close__BE7mP {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_popup_booking__PgLo4 .Rates_close__BE7mP:before {
    display: block;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -350px -321px;
    width: 16px;
    height: 16px;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR {
    text-align: right;
    border-left: 1px solid #f4f4f4
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
    position: relative;
    width: 127px;
    height: 34px;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -.2px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5:after,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR:after {
    position: absolute;
    right: 13px;
    top: 13px;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid;
    border-right: 1px solid;
    content: ""
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5[disabled],.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR[disabled] {
    color: #bababa;
    background-color: #fafbfb;
    border: 1px solid #ebf1f1
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5[disabled]:after,.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR[disabled]:after {
    border-top: 1px solid #bababa;
    border-right: 1px solid #bababa
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5 {
    color: #00c4d5;
    border: 1px solid rgba(0,196,213,.5);
    background-color: #fff
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5 {
        width:165px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5:after {
    border-top: 1px solid #00c4d5;
    border-right: 1px solid #00c4d5
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5 .Rates_hide__rqTe0 {
        display:none
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5.Rates_as_naver__PZ_od {
    color: #0abe16;
    border: 1px solid rgba(10,190,22,.5);
    background-color: #fff
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5.Rates_as_naver__PZ_od:before {
    display: inline-block;
    margin-right: 4px;
    background-image: url(/item-b07e66ec298c8bfae42d56b5dd722a90.png);
    -webkit-background-size: 372px auto;
    background-size: 372px auto;
    background-position: -250px -307px;
    width: 12px;
    height: 13px;
    vertical-align: -2px;
    content: ""
}

@media only screen and (min-width: 1025px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_reserve__WS7d5+.Rates_save_reserve__97SLR {
        margin-top:9px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
    color: #fff;
    border: 1px solid rgba(0,0,0,.04);
    background-color: #0abe16
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR {
        width:125px
    }
}

.Rates_SummaryRates__GTp8G .Rates_button_info__jf4QR .Rates_save_reserve__97SLR:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff
}

.Rates_SummaryRates__GTp8G .Rates_compare_anchor__26wmt {
    margin-top: 10px
}

.Rates_NpayInfo__105Yo {
    display: block;
    color: #0abe16
}

@media only screen and (max-width: 767px) {
    .Rates_NpayInfo__105Yo {
        width:100%;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .Rates_NpayInfo__105Yo {
        font-size:14px;
        line-height: 1.5;
        letter-spacing: -.2px
    }
}

.Rates_NpayInfo__105Yo .Rates_ico_npay__tQVFj,.Rates_NpayInfo__105Yo .Rates_ico_npayplus__T8Qlp,.Rates_NpayInfo__105Yo .Rates_ico_npoint__XApxc {
    display: inline-block;
    margin-right: 4px;
    vertical-align: 11px;
    font-size: 0;
    content: ""
}

.Rates_NpayInfo__105Yo .Rates_ico_npoint__XApxc {
    background-position: -293px -63px;
    width: 13px
}

.Rates_NpayInfo__105Yo .Rates_ico_npay__tQVFj,.Rates_NpayInfo__105Yo .Rates_ico_npoint__XApxc {
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    height: 13px
}

.Rates_NpayInfo__105Yo .Rates_ico_npay__tQVFj {
    background-position: -232px -217px;
    width: 36px
}

.Rates_NpayInfo__105Yo .Rates_ico_npayplus__T8Qlp {
    background-image: url(/img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -187px -217px;
    width: 45px;
    height: 13px
}

/*# sourceMappingURL=3b396c2b75b13ca6.css.map*/
