.elhwOM {
    display: flex;
    position: relative;
}
.hMiJLh:first-child {
    border-left: none;
}
.czFkbX {
    display: block;
    padding-bottom: 20px;
    font-family: verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(36, 36, 36);
}
.hMiJLh > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.hMiJLh > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.hMiJLh > table thead th {
    padding: 20px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(66, 66, 66);
}
.hMiJLh > table tbody td {
    padding: 0px;
    text-align: center;
    color: rgb(36, 36, 36);
}
.hMiJLh > table tbody td.invalid {
    color: rgb(199, 199, 199);
}
.kskBmC[disabled] {
    cursor: default;
    pointer-events: none;
}
.kskBmC {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    appearance: none;
}
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    -webkit-appearance: none;
}
.ilGrVL {
    flex-shrink: 0;
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.69;
}
.hBNCnn {
    flex-shrink: 0;
    display: block;
    position: relative;
    max-width: 100%;
    margin-top: -3px;
    min-height: 1.6em;
    font-size: 10px;
    font-style: inherit;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(102, 102, 102);
}
.hMiJLh > table tbody td.invalid {
    color: rgb(199, 199, 199);
}

.kskBmC[disabled] {
    cursor: default;
    pointer-events: none;
}
.kskBmC {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    appearance: none;
}
.ilGrVL {
    flex-shrink: 0;
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.69;
}
.hBNCnn {
    flex-shrink: 0;
    display: block;
    position: relative;
    max-width: 100%;
    margin-top: -3px;
    min-height: 1.6em;
    font-size: 10px;
    font-style: inherit;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(102, 102, 102);
}
.hMiJLh {
    flex-shrink: 0;
    width: 378px;
    padding: 30px 36px 20px;
    border-left: 1px solid rgb(243, 245, 249);
}
.czFkbX {
    display: block;
    padding-bottom: 20px;
    font-family: verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(36, 36, 36);
}
.ilsPJW {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 30px;
}

.iWZXNz {
    left: 0px;
    margin-left: 36px;
    transform: rotateY(180deg);
}
.imDkSH {
    position: absolute;
    top: 0px;
    width: 32px;
    height: 32px;
    padding: 0px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    appearance: none;
    background-image: url(/images/right_arrow.svg);
}
.glDkIk {
    right: 0px;
    margin-right: 36px;
}