@media only screen and (max-width: 767px) {
    [data-current=main] .VisitedHotels_VisitedHotels__rqW4T {
        padding-bottom:40px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=main] .VisitedHotels_VisitedHotels__rqW4T {
        margin-bottom:60px
    }
}

[data-current=item] .VisitedHotels_VisitedHotels__rqW4T {
    border-top: 1px solid #eff3f6
}

@media only screen and (max-width: 767px) {
    [data-current=item] .VisitedHotels_VisitedHotels__rqW4T>.VisitedHotels_inner__6I04f {
        padding-block:35px 0
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=item] .VisitedHotels_VisitedHotels__rqW4T>.VisitedHotels_inner__6I04f {
        padding-block:53px 50px
    }
}

.VisitedHotels_VisitedHotels__rqW4T {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px
}

.VisitedHotels_VisitedHotels__rqW4T>* {
    max-width: min(100vw - (100vw*5/16 - 260px)*2,1110px);
    margin-inline:auto}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T>* {
        padding-inline:20px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T>* {
        padding-inline:60px
    }
}

@media only screen and (min-width: 1025px) {
    .VisitedHotels_VisitedHotels__rqW4T>* {
        padding-inline:min(100vw*5/16 - 260px,380px)
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_title__78cWL {
    margin: 0;
    font-weight: 700;
    color: #000
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_title__78cWL {
        font-size:18px;
        line-height: 1.33;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_title__78cWL {
        font-size:20px;
        line-height: 1.35;
        letter-spacing: 2.2px
    }
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_recent_list__QbkbR {
        margin:11px 0 0
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_recent_list__QbkbR {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 14px 0 0
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_recent_list__QbkbR>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-flex-basis: -webkit-calc((100% - 18px)/2);
        -ms-flex-preferred-size: calc((100% - 18px)/2);
        flex-basis: calc((100% - 18px)/2)
    }
}

@media only screen and (min-width: 1025px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_recent_list__QbkbR {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 37px 0 0
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_recent_list__QbkbR>* {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-flex-basis: -webkit-calc((100% - 36px)/3);
        -ms-flex-preferred-size: calc((100% - 36px)/3);
        flex-basis: calc((100% - 36px)/3)
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_ {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #f1f1f1
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_>* {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_>:first-child {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_+.VisitedHotels_item__4Ha2_ {
        margin-top:8px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_ {
        -webkit-box-sizing:border-box;
        box-sizing: border-box
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_:nth-child(2n) {
        margin-left: 18px
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_:nth-child(n+3) {
        margin-top: 16px
    }
}

@media only screen and (min-width: 1025px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_ {
        -webkit-box-sizing:border-box;
        box-sizing: border-box;
        margin-left: 18px
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_:nth-child(3n+1) {
        margin-left: 0
    }

    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_:nth-child(n+4) {
        margin-top: 16px
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_item__4Ha2_ .VisitedHotels_anchor__LFKWX {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_thumb__mZMOT {
    background: #f4f7f8 url(/images/fallback/30px.png) 50%/30px auto no-repeat;
    position: relative
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_thumb__mZMOT {
        width:92px;
        height: 92px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_thumb__mZMOT {
        width:106px;
        height: 106px
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_thumb__mZMOT .VisitedHotels_img__S7wox {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: inherit;
    border-radius: inherit
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw {
        padding:14px 15px 12px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw {
        padding:19px
    }
}

@media only screen and (min-width: 1025px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw {
        padding:19px
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw .VisitedHotels_name__OZySS {
    display: block;
    margin-right: calc(12px + 15px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.44;
    letter-spacing: -.3px;
    color: #242424
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw .VisitedHotels_review__evhb_ {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -.3px;
    color: #9e9e9e
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw .VisitedHotels_review__evhb_ {
        margin-top:2px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_info__V67aw .VisitedHotels_review__evhb_ {
        margin-top:5px
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_delete__9fZaF {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 1
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_delete__9fZaF:after {
    background-image: url(/images/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -293px -190px;
    width: 12px;
    height: 12px;
    display: block;
    content: ""
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_show_more__woTB9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.3px;
    text-align: center;
    color: #424242;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 24px;
    border-radius: 24px
}

@media only screen and (max-width: 767px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_show_more__woTB9 {
        margin-top:11px;
        width: 120px;
        height: 44px
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_show_more__woTB9 {
        margin-top:17px;
        width: 124px;
        height: 46px
    }
}

.VisitedHotels_VisitedHotels__rqW4T .VisitedHotels_show_more__woTB9:after {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 6px;
    vertical-align: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent #424242 #424242 transparent;
    border-style: solid;
    border-width: 1px;
    content: ""
}

/*# sourceMappingURL=e56c4015d9b791bc.css.map*/
