.Filter_CheckBoxes__VbQFk {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    overflow: hidden
}

.Filter_CheckBoxes__VbQFk .Filter_CheckBox__LVGEx {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.3px;
    word-break: keep-all;
    color: #424242;
    border-bottom: 1px solid #edf1f3;
    border-right: 1px solid #edf1f3
}

.Filter_CheckBoxes__VbQFk .Filter_CheckBox__LVGEx:last-child {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit
}

.Filter_CheckBoxes__VbQFk .Filter_CheckBox__LVGEx:first-child {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx {
    width: 33.3333333333%
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:nth-child(3n+1) {
    border-left: 1px solid #edf1f3
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:nth-child(-n+3) {
    border-top: 1px solid #edf1f3;
    margin-top: -1px
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx[aria-checked=true] {
    position: relative;
    margin-top: -1px;
    border: 1px solid #8ed9df;
    background-color: #f4feff
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:not(:nth-child(3n+1))[aria-checked=true] {
    width: -webkit-calc(33.3333333333% + 1px);
    width: calc(33.3333333333% + 1px);
    margin-left: -1px
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:nth-child(3) {
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:nth-last-child(-n+3):nth-child(3n) {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_3row__Rr_Wj .Filter_CheckBox__LVGEx:nth-last-child(-n+3):nth-child(3n+1) {
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx {
    width: 50%
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:nth-child(odd) {
    border-left: 1px solid #edf1f3
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:nth-child(-n+2) {
    border-top: 1px solid #edf1f3;
    margin-top: -1px
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx[aria-checked=true] {
    position: relative;
    margin-top: -1px;
    border: 1px solid #8ed9df;
    background-color: #f4feff
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:not(:nth-child(odd))[aria-checked=true] {
    width: -webkit-calc(50% + 1px);
    width: calc(50% + 1px);
    margin-left: -1px
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:nth-child(2) {
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:nth-last-child(-n+2):nth-child(2n) {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit
}

.Filter_CheckBoxes__VbQFk.Filter_is_2row__Kxbou .Filter_CheckBox__LVGEx:nth-last-child(-n+2):nth-child(odd) {
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit
}

.Filter_Radios__cjh_G {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.Filter_Radios__cjh_G .Filter_radio__JMKjV {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 33.3333333333%;
    margin: 9px 0 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #424242
}

.Filter_Radios__cjh_G .Filter_radio__JMKjV:before {
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #e9ecef;
    width: 22px;
    height: 22px;
    content: "";
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: -8px
}

.Filter_Radios__cjh_G .Filter_radio__JMKjV[aria-checked=true]:before {
    border: 1px solid #00c4d5
}

.Filter_Radios__cjh_G .Filter_radio__JMKjV[aria-checked=true]:after {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 0 0 7px;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #00c4d5;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Filter_Slider__95RT4 {
        padding-top:9px
    }
}

.Filter_Slider__95RT4 .Filter_option__8tE0a {
    margin: 2px 0 23px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: -.3px;
    color: #666
}

.Filter_Slider__95RT4 .Filter_slider-range__mY49f div[class$=rc-slider] {
    position: relative;
    z-index: 0;
    height: 21px;
    margin: 0 10px;
    padding: 9px 0;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.Filter_Slider__95RT4 .Filter_slider-range__mY49f div[class$=rc-slider-rail] {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 -10px;
    background-color: #e0e7ec;
    height: 3px
}

.Filter_Slider__95RT4 .Filter_slider-range__mY49f div[class*=rc-slider-track] {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #00c4d5
}

.Filter_Slider__95RT4 .Filter_slider-range__mY49f div[class*=rc-slider-handle] {
    position: absolute;
    margin-top: -10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    cursor: grab;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #00c4d5;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -.3px
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_max__IMHRS,.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_min___6wTC {
    position: relative;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    min-height: 58px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_max__IMHRS[aria-checked=true],.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_min___6wTC[aria-checked=true] {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #00b9c9;
    background-color: #fff
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_max__IMHRS[aria-checked=true] .Filter_price___M6RH,.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_min___6wTC[aria-checked=true] .Filter_price___M6RH {
    color: #00b3c2
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_max__IMHRS .Filter_price_label__yCu60,.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_value_min___6wTC .Filter_price_label__yCu60 {
    display: block;
    padding: 8px 20px
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_txt__iaw0U {
    font-weight: 500;
    color: #8f8f8f
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_price___M6RH {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 17px 20px 0;
    font-weight: 700;
    color: #424242;
    border: 1px solid #e0e7ec;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: 0
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_price___M6RH:focus {
    border: 1px solid #000
}

.Filter_Slider__95RT4 .Filter_slider_value__x5Ax3 .Filter_hyphen__9ZzrS {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 10px;
    height: 2px;
    margin: 0 6px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color: #cfd6db
}

.Filter_Slider__95RT4 .Filter_buttons__PedWz {
    margin: 20px 0 9px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.3px
}

.Filter_Slider__95RT4 .Filter_buttons__PedWz .Filter_btn_reset__B1t4j {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    padding: 11px 0;
    margin-right: 4px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d8dfe2;
    background-color: #fff
}

.Filter_Slider__95RT4 .Filter_buttons__PedWz .Filter_btn_apply__OYuq3 {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    padding: 11px 0;
    margin-left: 4px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 10px 2px rgba(0,196,213,.2);
    box-shadow: 0 3px 10px 2px rgba(0,196,213,.2);
    background-color: #00c4d5;
    color: #fff
}

.Section_Section__9_P2w+.Section_Section__9_P2w {
    border-top: 1px solid #e9ecef
}

.Section_Section__9_P2w .Section_toggle__C_IfH {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.Section_Section__9_P2w .Section_toggle__C_IfH>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.Section_Section__9_P2w .Section_toggle__C_IfH>.Section_selected_wrap__iQ09G {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Section_Section__9_P2w .Section_toggle__C_IfH {
        padding:29px 0 27px
    }
}

@media only screen and (min-width: 1025px) {
    .Section_Section__9_P2w .Section_toggle__C_IfH {
        padding:35px 0 27px
    }
}

.Section_Section__9_P2w .Section_toggle__C_IfH[aria-expanded=true] {
    padding-bottom: 0
}

.Section_Section__9_P2w .Section_toggle__C_IfH[aria-expanded=true] .Section_txt__ZhZwx:after {
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -274px -259px;
    width: 14px;
    height: 11px
}

.Section_Section__9_P2w .Section_title__2BT3U {
    margin: 0;
    font-size: 16px;
    color: #424242
}

.Section_Section__9_P2w .Section_selected_wrap__iQ09G {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    padding-right: 10px;
    color: #00b3c2
}

.Section_Section__9_P2w .Section_selected_wrap__iQ09G .Section_current__nL2RL {
    margin-left: 8px;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: -.3px;
    color: #8f8f8f
}

.Section_Section__9_P2w .Section_selected_wrap__iQ09G .Section_current__nL2RL.Section_selected__H8esq {
    font-weight: 500;
    color: #00b3c2
}

.Section_Section__9_P2w .Section_txt__ZhZwx {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
    font-size: 13px;
    color: #9e9e9e
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Section_Section__9_P2w .Section_txt__ZhZwx {
        margin-right:10px
    }
}

.Section_Section__9_P2w .Section_txt__ZhZwx:after {
    display: inline-block;
    margin-left: 6px;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -80px -193px;
    width: 14px;
    height: 10px;
    content: ""
}

.Section_Panel__ET1xN {
    -webkit-border-radius: 5px;
    border-radius: 5px
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Section_Panel__ET1xN {
        margin:16px 0 30px
    }
}

@media only screen and (min-width: 1025px) {
    .Section_Panel__ET1xN {
        margin:16px 0 35px
    }
}

.OnlyCertButton_OnlyCertButton___jcJz {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px
}

.OnlyCertButton_OnlyCertButton___jcJz>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.OnlyCertButton_OnlyCertButton___jcJz[aria-disabled=true] .OnlyCertButton_select__El9vL:before {
    opacity: .5
}

.OnlyCertButton_OnlyCertButton___jcJz[aria-disabled=true] .OnlyCertButton_select__El9vL .OnlyCertButton_label__qxT8U {
    opacity: .3
}

.OnlyCertButton_OnlyCertButton___jcJz[aria-disabled=true] .OnlyCertButton_infoarea__giymY .OnlyCertButton_ico__M534m {
    opacity: .5
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_select__El9vL:before {
    display: inline-block;
    margin-right: 6px;
    vertical-align: -5px;
    background-image: url(/list-d806692fe834d3a92cc2568619f5e516.png);
    -webkit-background-size: 304px auto;
    background-size: 304px auto;
    background-position: -200px -164px;
    width: 22px;
    height: 22px;
    content: ""
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_select__El9vL[aria-checked=true]:before {
    background-image: url(/list-d806692fe834d3a92cc2568619f5e516.png);
    -webkit-background-size: 304px auto;
    background-size: 304px auto;
    background-position: -222px -164px;
    width: 22px;
    height: 22px
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_select__El9vL .OnlyCertButton_label__qxT8U {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -.3px;
    color: #424242
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_ico__M534m {
    position: relative;
    display: block;
    margin-top: 1px;
    margin-left: 4px;
    background-image: url(/list-d806692fe834d3a92cc2568619f5e516.png);
    -webkit-background-size: 304px auto;
    background-size: 304px auto;
    background-position: -278px -109px;
    width: 15px;
    height: 15px
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY[aria-expanded=true] .OnlyCertButton_ico__M534m:before {
    position: absolute;
    top: -webkit-calc(100% + 7px);
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    border-top: 1px solid #242424;
    border-left: 1px solid #242424;
    z-index: 20;
    content: ""
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY[aria-expanded=true] .OnlyCertButton_tooltip__yv2Gc {
    display: block
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc {
    display: none;
    position: absolute;
    top: -webkit-calc(100% + 8px);
    top: calc(100% + 8px);
    left: 0;
    padding: 12px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #242424;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 10
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc {
        width:280px
    }
}

@media only screen and (min-width: 1025px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc {
        width:350px
    }
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_title__T7_zt {
    display: block;
    margin-bottom: 6px;
    letter-spacing: -.5px;
    color: #242424
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_title__T7_zt {
        font-size:14px;
        line-height: 19px;
        font-weight: 600
    }
}

@media only screen and (min-width: 1025px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_title__T7_zt {
        font-size:14px;
        line-height: 24px;
        font-weight: 700
    }
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_dsc__liQ0r {
    font-weight: 400;
    color: #242424;
    white-space: normal
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_dsc__liQ0r {
        font-size:14px;
        line-height: 18px
    }
}

@media only screen and (min-width: 1025px) {
    .OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_dsc__liQ0r {
        font-size:13px;
        line-height: 20px
    }
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_close__mxsFy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 9px 0 0
}

.OnlyCertButton_OnlyCertButton___jcJz .OnlyCertButton_infoarea__giymY .OnlyCertButton_tooltip__yv2Gc .OnlyCertButton_close__mxsFy:before {
    display: block;
    background-image: url(/list-d806692fe834d3a92cc2568619f5e516.png);
    -webkit-background-size: 304px auto;
    background-size: 304px auto;
    background-position: -294px -164px;
    width: 10px;
    height: 10px;
    content: ""
}

.ListFilter_ListFilter__JPTxQ {
    min-width: 320px;
    z-index: 30
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilter__JPTxQ {
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 65px
    }

    .ListFilter_ListFilter__JPTxQ:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-color: rgba(0,0,0,.5)
    }
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilter__JPTxQ {
        position:absolute;
        top: 100%;
        left: 0;
        margin-top: -7px;
        width: 420px;
        height: -webkit-calc(100vh - 120px - 75px);
        height: calc(100vh - 120px - 75px);
        max-height: 650px;
        -webkit-box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(0,0,0,.06);
        background-color: #fff
    }
}

.ListFilter_ListFilter__JPTxQ .ListFilter_filter_inner__aCooZ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative
}

.ListFilter_ListFilterHeader__qGxs7 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    background-color: #fff
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterHeader__qGxs7 {
        padding:12px 0 6px;
        -webkit-border-top-right-radius: 16px;
        border-top-right-radius: 16px;
        -webkit-border-top-left-radius: 16px;
        border-top-left-radius: 16px
    }

    .ListFilter_ListFilterHeader__qGxs7:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 6px auto 0;
        width: 36px;
        height: 3px;
        content: "";
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: #d8d8d8
    }
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterHeader__qGxs7 {
        padding:17px 0 16px;
        border-bottom: 1px solid #eceef0
    }
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_subject__7IdB1 {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 8px
    }
}

.ListFilter_ListFilterHeader__qGxs7 .ListFilter_heading__8zlf3 {
    margin: 0;
    text-align: center
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_heading__8zlf3 {
        -webkit-flex-grow:1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        font-size: 16px;
        line-height: 1.44;
        color: #333
    }
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_heading__8zlf3 {
        font-size:17px;
        line-height: 1.47;
        letter-spacing: -.2px;
        color: #242424
    }
}

.ListFilter_ListFilterHeader__qGxs7 .ListFilter_refresh__iT4GE {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    width: 40px;
    height: 40px
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_refresh__iT4GE {
        -webkit-flex-shrink:0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0
    }
}

.ListFilter_ListFilterHeader__qGxs7 .ListFilter_refresh__iT4GE:before {
    display: block;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -40px -163px;
    width: 40px;
    height: 40px;
    content: ""
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_refresh__iT4GE {
        display:none
    }
}

.ListFilter_ListFilterHeader__qGxs7 .ListFilter_close__ESMgo {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 40px;
    height: 40px
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_close__ESMgo {
        -webkit-flex-shrink:0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
}

.ListFilter_ListFilterHeader__qGxs7 .ListFilter_close__ESMgo:before {
    display: block;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: 0 -163px;
    width: 40px;
    height: 40px;
    content: ""
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterHeader__qGxs7 .ListFilter_close__ESMgo {
        display:none
    }
}

.ListFilter_ListFilterContentArea__nya4Z {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow-y: scroll
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .ListFilter_ListFilterContentArea__nya4Z {
        padding:0 20px 11px;
        background-color: #f4f7f8
    }
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterContentArea__nya4Z {
        background-color:#fff;
        padding: 0 30px 72px
    }
}

.ListFilter_ListFilterFooter__Cbkrq {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 72px;
    padding: 12px 20px;
    background-color: #fff;
    border-top: 1px solid #e2e5e8
}

@media only screen and (min-width: 1025px) {
    .ListFilter_ListFilterFooter__Cbkrq {
        position:absolute;
        left: 0;
        right: 0;
        bottom: 0
    }
}

.ListFilter_ListFilterFooter__Cbkrq .ListFilter_btns__o0dmf {
    text-align: right
}

.ListFilter_ListFilterFooter__Cbkrq .ListFilter_btns__o0dmf .ListFilter_reset__TIeGv {
    width: 90px;
    height: 48px;
    font-size: 15px;
    line-height: 1.47;
    color: #666;
    background-color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d4d9df
}

.ListFilter_ListFilterFooter__Cbkrq .ListFilter_btns__o0dmf .ListFilter_apply__vsMTF {
    width: 90px;
    height: 48px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47;
    color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #00c4d5;
    border: 1px solid rgba(0,0,0,.04)
}

.InlineFilter_InlineFilters__HUBsS {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    border-bottom: 1px solid #e6ebee
}

@media only screen and (max-width: 767px) {
    .InlineFilter_InlineFilters__HUBsS {
        background-color:#f4f7f8;
        border-top: 1px solid #e6ebee
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .InlineFilter_InlineFilters__HUBsS {
        background-color:#f4f7f8;
        border-top: 1px solid #eef0f1
    }
}

@media only screen and (min-width: 1025px) {
    .InlineFilter_InlineFilters__HUBsS {
        position:absolute;
        top: 0;
        left: 647px;
        right: 0;
        height: 75px;
        padding: 20px 45px 20px 0;
        background-color: #fff;
        border-bottom: 1px solid #f2f2f2
    }

    .InlineFilter_InlineFilters__HUBsS:before {
        position: absolute;
        left: 18px;
        right: 0;
        bottom: -12px;
        height: 12px;
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.06)),to(transparent));
        background: -webkit-linear-gradient(top,rgba(0,0,0,.06),transparent);
        background: linear-gradient(180deg,rgba(0,0,0,.06),transparent);
        content: "";
        z-index: 1
    }
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width: 767px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka {
        position:relative;
        height: 59px;
        padding: 12px 20px 0
    }

    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 63px;
        width: 24px;
        background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,98%,0)),to(#f4f7f8));
        background: -webkit-linear-gradient(left,hsla(0,0%,98%,0),#f4f7f8);
        background: linear-gradient(90deg,hsla(0,0%,98%,0),#f4f7f8);
        content: ""
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka {
        padding:11px 60px 0
    }
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter_all__lAVDv {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 34px;
    padding: 8px 13px 9px;
    background-color: #fff;
    -webkit-border-radius: 19.5px;
    border-radius: 19.5px;
    border: 1px solid #8ed9df
}

@media only screen and (max-width: 767px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filter_all__lAVDv {
        -webkit-order:1;
        -ms-flex-order: 1;
        order: 1
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filter_all__lAVDv {
        -webkit-order:0;
        -ms-flex-order: 0;
        order: 0;
        margin-right: 6px
    }
}

@media only screen and (min-width: 1025px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_filter_all__lAVDv {
        -webkit-order:0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 34px;
        margin-right: 6px
    }
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter_all__lAVDv:after {
    display: block;
    background-image: url(/list-d806692fe834d3a92cc2568619f5e516.png);
    -webkit-background-size: 304px auto;
    background-size: 304px auto;
    background-position: -280px -131px;
    width: 15px;
    height: 16px;
    content: ""
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_presets__b_2K8 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #424242
}

@media only screen and (max-width: 767px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_presets__b_2K8 {
        -webkit-order:0;
        -ms-flex-order: 0;
        order: 0
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    .InlineFilter_InlineFilters__HUBsS .InlineFilter_presets__b_2K8 {
        -webkit-order:1;
        -ms-flex-order: 1;
        order: 1
    }
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_presets__b_2K8::-webkit-scrollbar {
    display: block;
    height: 5px
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_presets__b_2K8::-webkit-scrollbar-thumb {
    background: #ddd;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR {
    margin-right: 6px;
    padding: 7px 11px 7px 13px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #e9e9e9;
    background-color: #fff
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR:after {
    display: inline-block;
    vertical-align: 1px;
    margin-left: 6px;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -201px -193px;
    width: 10px;
    height: 6px;
    content: ""
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR[aria-checked=true] {
    color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.11);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.11);
    background-color: #00c4d5
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR[aria-checked=true]:after {
    margin-left: 4px;
    margin-right: -2px;
    vertical-align: -2px;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -94px -193px;
    width: 14px;
    height: 10px
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR[aria-expanded=true] {
    color: #00b3c2;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
    border: 1px solid #8ed9df;
    background-color: #fff
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_filter__nCJhR[aria-expanded=true]:after {
    margin-left: 2px;
    margin-right: -2px;
    vertical-align: -3px;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -213px -231px;
    width: 16px;
    height: 12px
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_next__TlvVa {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 48px;
    height: 48px
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_next__TlvVa:before {
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background-image: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(#fff));
    background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,0),#fff);
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
    content: ""
}

.InlineFilter_InlineFilters__HUBsS .InlineFilter_next__TlvVa:after {
    display: block;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -51px -74px;
    width: 48px;
    height: 48px;
    content: ""
}

@media only screen and (min-width: 1025px) {
    .isBiz~.InlineFilter_InlineFilters__HUBsS {
        left:836px
    }
}

.is_fixed .InlineFilter_InlineFilters__HUBsS {
    border-top: 0
}

@media only screen and (max-width: 767px) {
    .is_fixed .InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka {
        padding:12px 20px 0;
        background-color: #fff;
        border: 0
    }

    .is_fixed .InlineFilter_InlineFilters__HUBsS .InlineFilter_filters__22mka:after {
        background-image: -webkit-gradient(linear,left top,right top,color-stop(1%,hsla(0,0%,100%,0)),to(#fff));
        background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,0) 1%,#fff);
        background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 1%,#fff)
    }
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .InlineFilter_SelectedFilter__5tTe_ {
        padding:17px 20px 16px;
        background-color: #eff3f5;
        border-bottom: 1px solid #00c4d5
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .InlineFilter_SelectedFilter__5tTe_ {
        padding:17px 60px 16px;
        background-color: #eff3f5;
        border-bottom: 1px solid #00c4d5
    }
}

@media only screen and (min-width: 1025px) {
    .InlineFilter_SelectedFilter__5tTe_ {
        position:absolute;
        top: 65px;
        left: 0;
        width: 420px;
        padding: 27px 30px 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        -webkit-box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        z-index: 10
    }
}

.InlineFilter_SelectedFilter__5tTe_ .InlineFilter_title__fHyPo {
    display: block;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
    color: #424242
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .common_SelectedFilter__wTieA {
        padding:17px 20px 16px;
        background-color: #eff3f5;
        border-bottom: 1px solid #00c4d5
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .common_SelectedFilter__wTieA {
        padding:17px 60px 16px;
        background-color: #eff3f5;
        border-bottom: 1px solid #00c4d5
    }
}

@media only screen and (min-width: 1025px) {
    .common_SelectedFilter__wTieA {
        position:absolute;
        top: 65px;
        left: 0;
        width: 420px;
        padding: 27px 30px 30px;
        max-height: -webkit-calc(100vh - 210px);
        max-height: calc(100vh - 210px);
        max-height: -webkit-calc(100dvh - 210px);
        max-height: calc(100dvh - 210px);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        background-color: #fff;
        -webkit-box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        box-shadow: 0 8px 30px -6px rgba(0,0,0,.16);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        z-index: 20
    }
}

.common_SelectedFilter__wTieA .common_title___rMz0 {
    display: block;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
    color: #424242
}

.Rates_option__ZJ0dM {
    margin: 2px 0 23px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: -.3px;
    color: #666
}

.Rates_buttons__2gsB6 {
    margin: 20px 0 9px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.3px
}

.Rates_buttons__2gsB6 .Rates_btn_reset__hbfQA {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    padding: 11px 0;
    margin-right: 4px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d8dfe2;
    background-color: #fff
}

.Rates_buttons__2gsB6 .Rates_btn_apply__W7zcO {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    padding: 11px 0;
    margin-left: 4px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 10px 2px rgba(0,196,213,.2);
    box-shadow: 0 3px 10px 2px rgba(0,196,213,.2);
    background-color: #00c4d5;
    color: #fff
}

.SearchArea_TouristAttractions__LHY3C {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    line-height: 37px;
    letter-spacing: -.3px;
    font-weight: 500;
    color: #666
}

@media only screen and (max-width: 767px) {
    .SearchArea_TouristAttractions__LHY3C {
        margin:10px 0;
        padding: 0 25px 0 22px
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .SearchArea_TouristAttractions__LHY3C {
        margin:10px 0;
        padding: 0 70px 0 62px
    }
}

@media only screen and (min-width: 1025px) {
    .SearchArea_TouristAttractions__LHY3C {
        margin-top:20px;
        padding: 0 35px 0 22px
    }
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_tit__HTzgO {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 9px;
    color: #9e9e9e
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_sub__Hjc_7 {
    display: none
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_around_list__NnSSR {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE {
    display: inline-block
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE+.SearchArea_item__XMpuE {
    margin-left: 4px
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE .SearchArea_anchor__Spf2c:after {
    content: ", "
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE:last-child .SearchArea_anchor__Spf2c:after {
    content: ""
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e {
    position: absolute;
    width: 30px
}

@media only screen and (max-width: 767px) {
    .SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e {
        top:0;
        right: 15px;
        bottom: 0
    }
}

@media only screen and (min-width: 768px)and (max-width:1024px) {
    .SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e {
        top:0;
        right: 60px;
        bottom: 0
    }
}

@media only screen and (min-width: 1025px) {
    .SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e {
        top:0;
        right: 20px;
        bottom: 0
    }
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e:before {
    display: block;
    margin: 0 auto;
    background-image: url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
    -webkit-background-size: 306px auto;
    background-size: 306px auto;
    background-position: -52px -246px;
    width: 12px;
    height: 7px;
    content: ""
}

.SearchArea_TouristAttractions__LHY3C .SearchArea_more_btn__pad4e[aria-expanded=true] {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_tit__HTzgO {
    width: 100%;
    border-bottom: 1px solid #edf0f2
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_more_btn__pad4e {
    height: 37px;
    bottom: auto
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_sub__Hjc_7 {
    display: inline-block
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    width: 50%
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR .SearchArea_anchor__Spf2c {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR .SearchArea_anchor__Spf2c:after {
    display: none
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR .SearchArea_item__XMpuE+.SearchArea_item__XMpuE {
    margin-left: 0
}

.SearchArea_TouristAttractions__LHY3C.SearchArea_more__wPA0U .SearchArea_around_list__NnSSR .SearchArea_anchor__Spf2c:before {
    display: inline-block;
    margin-right: 7px;
    width: 2px;
    height: 2px;
    vertical-align: 4px;
    background-color: #999;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    content: ""
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .is_fixed .SearchArea_TouristAttractions__LHY3C {
        display:none
    }
}

/*# sourceMappingURL=a6bd4f056d1a5ad5.css.map*/
