.ImageBanner_IamgeBannerItem__v9caf {
    position: relative;
    width: 100%
}

.ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ""
}

.ImageBanner_IamgeBannerItem__v9caf .ImageBanner_img__ATe7G {
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain
}

.ImageBanner_IamgeBannerItem__v9caf .ImageBanner_ad__DzRqK {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    margin: 6px 6px 0 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.ImageBanner_IamgeBannerItem__v9caf .ImageBanner_ad__DzRqK .ImageBanner_txt__uTFfB {
    display: block;
    font-family: Helvetica Neue,sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #5d5d5d
}

[data-current=main] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
    border-style: solid;
    border-color: rgba(0,0,0,.05)
}

@media only screen and (max-width: 767px) {
    [data-current=main] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
        border-width:1px 0
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=main] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
        border-width:1px
    }

    [data-current=main] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_ad__DzRqK {
        margin: 12px 12px 0 0
    }
}

[data-current=list] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
    border-color: #e4e5e9;
    border-style: solid;
    border-width: 1px 0
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=list] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
        border-width:1px;
        -webkit-border-radius: 10px;
        border-radius: 10px
    }
}

[data-current=item] .ImageBanner_IamgeBannerItem__v9caf .ImageBanner_anchor__sz5MW:after {
    border: 1px solid rgba(0,0,0,.05);
    -webkit-border-radius: 10px;
    border-radius: 10px
}

[data-current=item] [data-current=Rates] .ImageBanner_IamgeBannerItem__v9caf {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

[data-current=item] [data-current=Rates] .ImageBanner_anchor__sz5MW:after {
    border-width: 1px 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: initial;
    border-radius: initial
}

.FlickingImageBanner_ImageBanner__4XlSm {
    width: 100%;
    position: relative
}

@media only screen and (max-width: 767px) {
    .FlickingImageBanner_ImageBanner__4XlSm {
        -webkit-box-sizing:border-box;
        box-sizing: border-box
    }
}

.FlickingImageBanner_ImageBanner__4XlSm .flicking-camera {
    z-index: auto
}

.FlickingImageBanner_ImageBanner__4XlSm .FlickingImageBanner_event_camera__b5_W8 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

[data-current=main] .FlickingImageBanner_ImageBanner__4XlSm {
    overflow: hidden
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=main] .FlickingImageBanner_ImageBanner__4XlSm {
        -webkit-border-radius:10px;
        border-radius: 10px
    }
}

@media only screen and (max-width: 767px) {
    [data-current=list] .FlickingImageBanner_ImageBanner__4XlSm {
        margin:10px 0
    }
}

@media only screen and (min-width: 1025px),only screen and (min-width:768px)and (max-width:1024px) {
    [data-current=list] .FlickingImageBanner_ImageBanner__4XlSm {
        -webkit-border-radius:10px;
        border-radius: 10px;
        overflow-y: hidden
    }
}

[data-current=item] .FlickingImageBanner_ImageBanner__4XlSm {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow-y: hidden
}

.FlickingImageBanner_pages_wrap__ZYTcJ {
    position: absolute;
    right: 0;
    bottom: 0
}

.FlickingImageBanner_pages_wrap__ZYTcJ .FlickingImageBanner_pages__yHqDc {
    display: block;
    padding: 3px 7px 3px 8px;
    font-size: 12px;
    line-height: 1.2;
    color: #f5f5f5;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0,0,0,.2)
}

.FlickingImageBanner_pages_wrap__ZYTcJ .FlickingImageBanner_pages__yHqDc>:first-child {
    margin-right: 2px;
    font-weight: 700;
    color: #fff
}

.FlickingImageBanner_pages_wrap__ZYTcJ .FlickingImageBanner_pages__yHqDc>:last-child {
    margin-left: 2px
}

/*# sourceMappingURL=40d91952aa12e1a0.css.map*/
