.Inspect_Inspect__sR_GR {
    background-color: #fff;
    text-align: center
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Inspect_Inspect__sR_GR {
        padding:50px 0
    }
}

@media only screen and (min-width: 1025px) {
    .Inspect_Inspect__sR_GR {
        padding:100px 0
    }
}

.Inspect_Inspect__sR_GR .Inspect_title__4V_c1 {
    color: #424242
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Inspect_Inspect__sR_GR .Inspect_title__4V_c1 {
        font-size:16px;
        line-height: 1.44;
        letter-spacing: -.3px
    }
}

@media only screen and (min-width: 1025px) {
    .Inspect_Inspect__sR_GR .Inspect_title__4V_c1 {
        font-size:18px;
        line-height: 1.78;
        letter-spacing: -.3px
    }
}

.Inspect_Inspect__sR_GR .Inspect_title__4V_c1:before {
    display: block;
    content: ""
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Inspect_Inspect__sR_GR .Inspect_title__4V_c1:before {
        background-image:url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: 0 -74px;
        width: 51px;
        height: 51px;
        margin: 0 auto 24px
    }
}

@media only screen and (min-width: 1025px) {
    .Inspect_Inspect__sR_GR .Inspect_title__4V_c1:before {
        background-image:url(img/main-e4ca9a83c23af0cfb997f0845911dc9e.png);
        -webkit-background-size: 306px auto;
        background-size: 306px auto;
        background-position: 0 0;
        width: 74px;
        height: 74px;
        margin: 0 auto 26px
    }
}

.Inspect_Inspect__sR_GR .Inspect_sub__Jw71u {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #8f8f8f
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Inspect_Inspect__sR_GR .Inspect_buttons__Tjf3x {
        margin-top:26px
    }
}

@media only screen and (min-width: 1025px) {
    .Inspect_Inspect__sR_GR .Inspect_buttons__Tjf3x {
        margin-top:30px
    }
}

.Inspect_Inspect__sR_GR .Inspect_change_date__y5FST,.Inspect_Inspect__sR_GR .Inspect_change_location__26vIv,.Inspect_Inspect__sR_GR .Inspect_naver__KurNA,.Inspect_Inspect__sR_GR .Inspect_reset_filter__yrdPy {
    display: inline-block;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.04);
    background-color: #38d0de;
    color: #fff
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Inspect_Inspect__sR_GR .Inspect_change_date__y5FST,.Inspect_Inspect__sR_GR .Inspect_change_location__26vIv,.Inspect_Inspect__sR_GR .Inspect_naver__KurNA,.Inspect_Inspect__sR_GR .Inspect_reset_filter__yrdPy {
        width:120px;
        margin: 0 3px;
        padding: 12px 0 10px
    }
}

@media only screen and (min-width: 1025px) {
    .Inspect_Inspect__sR_GR .Inspect_change_date__y5FST,.Inspect_Inspect__sR_GR .Inspect_change_location__26vIv,.Inspect_Inspect__sR_GR .Inspect_naver__KurNA,.Inspect_Inspect__sR_GR .Inspect_reset_filter__yrdPy {
        width:140px;
        margin: 0 4px;
        padding: 14px 0 16px;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.08;
        letter-spacing: -.2px
    }

    .Loading_list_loading__2y06n:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: url(/images/loading/list_loading.png) 0 0/auto 100% no-repeat
    }
}

.Loading_list_loading__2y06n:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 57px;
    height: 15px;
    content: "";
    background: url(/images/loading/spinner.gif) 0 0/100% auto no-repeat
}

.Layout_ListPage__d2BoL {
    position: relative
}

@media only screen and (max-width: 767px),only screen and (min-width:768px)and (max-width:1024px) {
    .Layout_ListPage__d2BoL {
        border-top:1px solid #e6ebef
    }
}

@media only screen and (min-width: 1025px) {
    .Layout_ListPage__d2BoL {
        margin-top:-9px;
        height: -webkit-calc(100vh - 120px);
        height: calc(100vh - 120px)
    }
}

.Layout_ListPage__d2BoL .Layout_container__qNxp_ {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px
}

@media only screen and (min-width: 1025px) {
    .Layout_ListPage__d2BoL .Layout_container__qNxp_ {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        padding-top: 75px
    }

    .Layout_ListPage__d2BoL .Layout_container__qNxp_>:first-child {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-flex-basis: 665px;
        -ms-flex-preferred-size: 665px;
        flex-basis: 665px;
        max-width: 665px
    }

    .Layout_ListPage__d2BoL .Layout_container__qNxp_>:first-child[aria-expanded=true] {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0
    }

    .Layout_ListPage__d2BoL .Layout_container__qNxp_>:last-child {
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: none
    }
}

/*# sourceMappingURL=e9329c860dabe790.css.map*/
