<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/9efeb41d609df83e.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
  </head>
  <body>
    <div id="__next">
      <!--*****header*****!-->
      <header th:replace="/main/header.html :: div"></header>
      <!--******body 시작*****!-->
      <main class="css-1i6vue">
        <section class="css-embvl1">
          <div class="css-1ktsezg">
            <div class="css-1nm9gyu">
              <div class="css-oan6e">
                <button type="button" class="css-1krggrv">
                  <p
                    data-testid="Typography"
                    color="#000000"
                    class="css-1ub1oa4"
                  >
                    취소
                  </p>
                </button>
              </div>
              <div class="css-1iooy02">
                <p data-testid="Typography" color="#000000" class="css-14qpgc6">
                  회원가입
                </p>
              </div>
              <div class="css-1jxi7lq"></div>
            </div>
            <div class="css-ng7qrx">
              <form class="css-1b2vfnn">
                <div>
                  <div class="css-1ia1k3o">
                    <div class="css-cssveg">
                      <div class="css-env1z2">
                        <label
                          data-testid="Typography"
                          color="rgba(55, 56, 60, 0.61)"
                          for="email"
                          class="css-afh7p0"
                          >이메일</label
                        >
                      </div>
                      <input
                        type="email"
                        placeholder="이메일을 입력해주세요."
                        name="email"
                        data-testid="Input_email"
                        autocomplete="new-password"
                        class="css-1sbrczv"
                        value=""
                      />
                    </div>
                    <button
                      type="button"
                      data-testid="Button"
                      class="css-zzrlz5"
                      disabled=""
                    >
                      <span
                        data-testid="Typography"
                        color="#000000"
                        class="css-htgykj"
                        >중복 확인</span
                      >
                    </button>
                  </div>
                  <div class="css-ut4l54"></div>
                </div>
                <div>
                  <div class="css-1ia1k3o">
                    <div class="css-cssveg">
                      <div class="css-env1z2">
                        <label
                          data-testid="Typography"
                          color="rgba(55, 56, 60, 0.61)"
                          for="email"
                          class="css-afh7p0"
                          >이메일</label
                        >
                      </div>
                      <!-- 잘못 입력한 경우 css-zf1cy7 이 css를 준다-->
                      <input
                        type="email"
                        placeholder="이메일을 입력해주세요."
                        name="email"
                        data-testid="Input_email"
                        autocomplete="new-password"
                        class="css-zf1cy7"
                        value=""
                      />
                    </div>
                    <button
                      type="button"
                      data-testid="Button"
                      class="css-zzrlz5"
                      disabled=""
                    >
                      <span
                        data-testid="Typography"
                        color="#000000"
                        class="css-htgykj"
                        >중복 확인</span
                      >
                    </button>
                  </div>
                  <div class="css-ut4l54">
                    <p
                      data-testid="Typography"
                      color="#FF4242"
                      class="css-depv0x"
                    >
                      올바른 이메일을 입력해주세요.
                    </p>
                  </div>
                </div>

                <div class="css-evy94o">
                  <div class="css-env1z2">
                    <label
                      data-testid="Typography"
                      color="rgba(55, 56, 60, 0.61)"
                      for="username"
                      class="css-afh7p0"
                      >이름</label
                    >
                  </div>
                  <input
                    type="text"
                    placeholder="이름을 입력해주세요."
                    name="username"
                    data-testid="Input_username"
                    autocomplete="new-password"
                    class="css-1sbrczv"
                    value=""
                  />
                </div>
                <div class="css-evy94o">
                  <div class="css-env1z2">
                    <label
                      data-testid="Typography"
                      color="rgba(55, 56, 60, 0.61)"
                      for="username"
                      class="css-afh7p0"
                      >이름</label
                    >
                  </div>
                  <input
                    type="text"
                    placeholder="이름을 입력해주세요."
                    name="username"
                    data-testid="Input_username"
                    autocomplete="new-password"
                    class="css-zf1cy7"
                    value=""
                  />
                  <p
                    data-testid="Typography"
                    color="#FF4242"
                    class="css-depv0x"
                  >
                    이름에는 공백과 특수문자가 포함될 수 없습니다.
                  </p>
                </div>
                <div>
                  <div class="css-env1z2">
                    <label
                      data-testid="Typography"
                      color="rgba(55, 56, 60, 0.61)"
                      for="mobile"
                      class="css-afh7p0"
                      >휴대폰 번호</label
                    >
                  </div>
                  <div class="css-14o8ny9">
                    <div class="css-gjm025">
                      <input
                        type="number"
                        pattern="[0-9]*"
                        placeholder="(예시) 01013245768"
                        name="mobile"
                        data-testid="Input_mobile"
                        autocomplete="on"
                        class="css-1sbrczv"
                        value=""
                      /><button
                        type="button"
                        data-testid="Button"
                        class="css-3nuf1p"
                        disabled=""
                      >
                        <span
                          data-testid="Typography"
                          color="#000000"
                          class="css-kfktv3"
                          >인증번호 받기</span
                        >
                      </button>
                    </div>
                    <p
                      data-testid="Typography"
                      color="#FF4242"
                      class="css-depv0x"
                    >
                      올바른 전화번호를 입력해주세요.
                    </p>
                    <div class="css-gjm025">
                      <input
                        type="number"
                        pattern="[0-9]*"
                        placeholder="인증번호를 입력해주세요."
                        name="authCode"
                        data-testid="Input_authCode"
                        readonly=""
                        autocomplete="on"
                        class="css-1sbrczv"
                        value=""
                      />
                    </div>
                  </div>
                </div>
                <div class="css-14o8ny9">
                  <div class="css-gjm025">
                    <input
                      type="number"
                      pattern="[0-9]*"
                      placeholder="(예시) 01013245768"
                      name="mobile"
                      data-testid="Input_mobile"
                      autocomplete="on"
                      class="css-1sbrczv"
                      value=""
                    /><button
                      type="button"
                      data-testid="Button"
                      class="css-3nuf1p"
                    >
                      <span
                        data-testid="Typography"
                        color="#000000"
                        class="css-kfktv3"
                        >인증번호 받기</span
                      >
                    </button>
                  </div>
                  <div class="css-gjm025">
                    <input
                      type="number"
                      pattern="[0-9]*"
                      placeholder="인증번호를 입력해주세요."
                      name="authCode"
                      data-testid="Input_authCode"
                      readonly=""
                      autocomplete="on"
                      class="css-1sbrczv"
                      value=""
                    />
                  </div>
                </div>
                <div class="css-evy94o">
                  <div class="css-env1z2">
                    <label
                      data-testid="Typography"
                      color="rgba(55, 56, 60, 0.61)"
                      for="password"
                      class="css-afh7p0"
                      >비밀번호</label
                    >
                  </div>
                  <div class="css-evy94o">
                    <input
                      type="password"
                      placeholder="비밀번호를 입력해주세요."
                      name="password"
                      data-testid="Input_password"
                      autocomplete="on"
                      class="css-1sbrczv"
                      value=""
                    />
                  </div>
                  <input
                    type="password"
                    placeholder="비밀번호를 다시 한번 입력해주세요."
                    name="passwordConfirm"
                    data-testid="Input_passwordConfirm"
                    autocomplete="on"
                    class="css-1sbrczv"
                    value=""
                  />
                  <p
                    data-testid="Typography"
                    color="rgba(55, 56, 60, 0.61)"
                    class="css-1eroab9"
                  >
                    영문 대소문자, 숫자, 특수문자를 3가지 이상으로 조합해 8자
                    이상 16자 이하로 입력해주세요.
                  </p>
                </div>
                <div class="css-1n70r34">
                  <div class="css-5hccr8">
                    <div class="css-1axjas8"></div>
                    <input
                      type="checkbox"
                      name="is_agree_all"
                      data-testid="TermsOption_checkbox_is_agree_all"
                      class="css-31p8kg"
                    />
                    <div class="css-1smbjja">
                      <p
                        data-testid="Typography"
                        color="#171719"
                        class="css-5iu2fa"
                      >
                        전체 동의
                      </p>
                    </div>
                  </div>
                  <hr class="css-6cy68w" />
                  <div class="css-sfv171">
                    <div class="css-5hccr8">
                      <!--체크했을 때 파란버튼 -->
                      <div class="css-1wt6x5l">
                        <span class="css-1ihsymv"
                          ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                            <path
                              fill="#ffffff"
                              d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                            ></path></svg>
                          </span>
                      </div>
                      <div class="css-1smbjja">
                        <p
                          data-testid="Typography"
                          color="rgba(55, 56, 60, 0.61)"
                          class="css-12qszhy"
                        >
                          만 14세 이상입니다. (필수)
                        </p>
                      </div>
                    </div>
                    <div class="css-5hccr8">
                      <div class="css-1axjas8"></div>
                      <input
                        type="checkbox"
                        name="is_terms_conditions"
                        data-testid="TermsOption_checkbox_is_terms_conditions"
                        class="css-31p8kg"
                      />
                      <div class="css-1smbjja">
                        <p
                          data-testid="Typography"
                          color="rgba(55, 56, 60, 0.61)"
                          class="css-12qszhy"
                        >
                          원티드 이용약관 동의 (필수)
                        </p>
                      </div>
                      <span class="css-1ihsymv"
                        ><svg
                          viewBox="0 0 12 24"
                          color="rgba(55, 56, 60, 0.28)"
                          href="https://id.wanted.jobs/terms/ko"
                          class="css-1h47l4s"
                        >
                          <path
                            fill="rgba(55, 56, 60, 0.28)"
                            d="M2.86395 4.86346C2.51247 5.21493 2.51247 5.78478 2.86395 6.13625L8.72755 11.9999L2.86395 17.8635C2.51247 18.2149 2.51247 18.7848 2.86395 19.1362C3.21542 19.4877 3.78527 19.4877 4.13674 19.1362L10.6367 12.6362C10.9882 12.2848 10.9882 11.7149 10.6367 11.3635L4.13674 4.86346C3.78527 4.51199 3.21542 4.51199 2.86395 4.86346Z"
                          ></path>
                        </svg>
                      </span>
                    </div>
                    <div class="css-5hccr8">
                      <div class="css-1axjas8"></div>
                      <input
                        type="checkbox"
                        name="is_collect_information"
                        data-testid="TermsOption_checkbox_is_collect_information"
                        class="css-31p8kg"
                      />
                      <div class="css-1smbjja">
                        <p
                          data-testid="Typography"
                          color="rgba(55, 56, 60, 0.61)"
                          class="css-12qszhy"
                        >
                          원티드 개인정보 수집 및 이용 동의 (필수)
                        </p>
                      </div>
                      <span class="css-1ihsymv"
                        ><svg
                          viewBox="0 0 12 24"
                          color="rgba(55, 56, 60, 0.28)"
                          href="https://id.wanted.jobs/privacy/ko"
                          class="css-1h47l4s"
                        >
                          <path
                            fill="rgba(55, 56, 60, 0.28)"
                            d="M2.86395 4.86346C2.51247 5.21493 2.51247 5.78478 2.86395 6.13625L8.72755 11.9999L2.86395 17.8635C2.51247 18.2149 2.51247 18.7848 2.86395 19.1362C3.21542 19.4877 3.78527 19.4877 4.13674 19.1362L10.6367 12.6362C10.9882 12.2848 10.9882 11.7149 10.6367 11.3635L4.13674 4.86346C3.78527 4.51199 3.21542 4.51199 2.86395 4.86346Z"
                          ></path>
                        </svg>
                      </span>
                    </div>
                    <div class="css-14o8ny9">
                      <div class="css-5hccr8">
                        <div class="css-1axjas8"></div>
                        <input
                          type="checkbox"
                          name="is_accept_event_all"
                          data-testid="TermsOption_checkbox_is_accept_event_all"
                          class="css-31p8kg"
                        />
                        <div class="css-1smbjja">
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-12qszhy"
                          >
                            채용 소식, 커리어 콘텐츠, 이벤트 등 원티드 맞춤 정보
                            받기
                          </p>
                        </div>
                      </div>
                      <div class="css-6n1bel">
                        <label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_marketing_email"
                            name="accept_marketing_email"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            이메일
                          </p></label
                        ><label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_marketing_push"
                            name="accept_marketing_push"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            앱 푸시
                          </p></label
                        ><label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_marketing_sms"
                            name="accept_marketing_sms"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            문자 메시지
                          </p></label
                        >
                      </div>
                    </div>
                    <div class="css-14o8ny9">
                      <div class="css-5hccr8">
                        <div class="css-1axjas8"></div>
                        <input
                          type="checkbox"
                          name="is_accept_recruit_all"
                          data-testid="TermsOption_checkbox_is_accept_recruit_all"
                          class="css-31p8kg"
                        />
                        <div class="css-1smbjja">
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-12qszhy"
                          >
                            맞춤 추천 포지션 정보 받기
                          </p>
                        </div>
                      </div>
                      <div class="css-6n1bel">
                        <label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_recruit_email"
                            name="accept_recruit_email"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            이메일
                          </p></label
                        ><label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_recruit_push"
                            name="accept_recruit_push"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            앱 푸시
                          </p></label
                        ><label class="css-15nb0ri"
                          ><input
                            data-testid="TermsCheck_checkicon_accept_recruit_sms"
                            name="accept_recruit_sms"
                            type="checkbox"
                          /><span class="css-1ihsymv"
                            ><svg viewBox="0 0 24 24" class="css-1h47l4s">
                              <path
                                fill="rgba(55, 56, 60, 0.28)"
                                d="M19.6694 6.58096C20.1771 7.08864 20.1771 7.91175 19.6694 8.41943L10.6694 17.4194C10.1618 17.9271 9.33864 17.9271 8.83096 17.4194L4.33096 12.9194C3.82327 12.4118 3.82327 11.5886 4.33096 11.081C4.83864 10.5733 5.66175 10.5733 6.16943 11.081L9.7502 14.6617L17.831 6.58096C18.3386 6.07327 19.1618 6.07327 19.6694 6.58096Z"
                              ></path>
                            </svg>
                          </span>
                          <p
                            data-testid="Typography"
                            color="rgba(55, 56, 60, 0.61)"
                            class="css-1l9ox50"
                          >
                            문자 메시지
                          </p></label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-1tbd2jx">
                  <div class="css-1csonyh"></div>
                  <div class="css-270vek"></div>
                  <button
                    type="submit"
                    disabled=""
                    data-testid="Button"
                    class="css-1yzn4b"
                  >
                    <span
                      data-testid="Typography"
                      color="#000000"
                      class="css-kfktv3"
                      >가입하기</span
                    >
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
