<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/myPageInfo.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="mainBody" class="bgother">
    <header th:replace="/main/header.html :: div"></header>
    <div id="wrap" class="wrap naverid">
        <header class="header">
            <div class="header_subindex" style="margin-top: 33px;">
                <!--프로필-사진,아이디,메일주소-->
                <div class="profile_area">
                    <div class="profile_inner">
                        <a href="#" onclick="changeImage()" class="photo" style="margin: 20px;">
                            <img src="/images/noImg.png" width="84" height="84" alt="프로필 이미지">
                            <span class="photo_edit"></span>
                        </a>
                        <div class="profile">
                            <p class="useid" style="margin-bottom: 5px" id="userName"></p>
                            <p class="usemail" id="email"></p>
                        </div>
                    </div>
                </div>
                <!-- end 프로필 -->
                <div id="headerLeft" class="header_left" aria-hidden="false">
                    <ul class="left_menu" role="menu">
                        <li>
                            <a href="/user/mypage/info" class="left_item" role="menuitem" aria-current="true">
                                <div class="menu_text on">내 프로필</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/reserve" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text ">예약 내역</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/wish" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text ">찜한 여행지</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/review" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text ">리뷰 내역</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="left_link">
                        <li>
                            <a href="" class="left_item" onclick="nclk(this,'fot.smartbot','','',event)">
                                <div class="link_text">문의하기</div>
                            </a>
                        </li>
                    </ul>
                    <!-- footerLeft -->
                    <footer class="left_footer" role="contentinfo">
                        <ul class="left_guide">
                            <li><a href="javascript:;" onclick="logout()" class="left_item">
                                    <div class="footer_text">로그아웃</div>
                                </a></li>
                            <li><a href="javascript:;" onclick="goHelpPage()" class="left_item">
                                    <div class="footer_text">고객센터</div>
                                </a></li>

                        </ul>
                        <div class="footer_logo"><span class="logo"><span class="blind">SESK</span></span></div>
                    </footer>
                    <!-- //footerLeft -->
                </div>
                <!--//-->
            </div>
        </header>
        <div id="container" class="container">
            <!-- container -->
            <div id="content" class="content">
                <div class="subindex_wrap" role="main">
                    <div id="headerTop" class="path_area" aria-hidden="false">
                    </div>
                    <div class="subindex_item">
                        <div class="subindex_greenbox">
                            <div class="myprofile">
                                <div class="info_title">
                                    <h3 class="title_text">기본정보</h3>
                                </div>
                                <ul class="myinfo_area">
                                    <li>
                                        <div class="myphoto">
                                            <img src="/images/noImg.png" width="56" height="56" alt="내 프로필 이미지">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="myaccount">
                                            <div class="myname">
                                                <div class="name_text" id="name"></div>
                                                <span class="item_text" id="userId"></span>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="subindex_row">
                                <li>
                                    <div id="phoneNoRegDiv" class="row_item phone ">
                                        <span class="item_text" id="userPhone"></span>
                                        <button type="button" id="phoneNoRegBtn" class="btn_edit"
                                            onclick="showPhoneNumberChangePopUp()">
                                            <span id="phoneNoRegBtnTxt" class="text">수정</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item mail ">
                                        <span class="item_text" id="userEmail"></span>
                                        <button type="button" class="btn_edit" onclick="showMyLetterEmailChangePopUp()">
                                            <span class="text">수정</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item mail ">
                                        <span class="item_text" id="userAddr"></span>
                                        <button type="button" class="btn_edit" onclick="showMyLetterEmailChangePopUp()">
                                            <span class="text">수정</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--//-->
                    <!--프로모션 정보수신 동의-->
                    <div class="subindex_item">
                        <div class="head_title">
                            <h2 class="subindex_title">가입 정보</h2></a>
                        </div>
                        <div class="subindex_box">
                            <ul class="subindex_row">
                                <li>
                                    <div class="row_item phone">
                                        <span class="item_text" id="rgstDate">가입일 : </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item mail">
                                        <span class="item_text" id="rankType">랭크 : </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 부가정보관리(생일, 배송지,개인정보이용내역)
                    <div class="subindex_item">
                        <div class="head_title">
                            <h2 class="subindex_title">부가 정보 관리</h2>
                            <div id="additionalInfoHelp" class="info_tooltip" aria-hidden="true" style="display: none;">
                                <strong class="info_head">생일 관리</strong>
                                <p class="info_desc">친구에게 보여줄 내 생일을 설정할 수 있어요.</p>
                                <strong class="info_head">배송지 관리</strong>
                                <p class="info_desc">쇼핑, 예약 등에서 사용하신 배송지를 관리할 수 있어요.</p>
                                <strong class="info_head">개인정보 이용내역</strong>
                                <p class="info_desc">내 개인정보가 어떻게 이용되고 있는지 확인할 수 있어요.</p>
                                <button onclick="hideAdditionalInfoHelp()" type="button" class="btn_exit"><span
                                        class="blind">닫기</span></button>
                            </div>
                        </div>
                        <div class="subindex_box">
                            <ul class="subindex_row">
                                <li>
                                    <div class="row_item birth">
                                        <span class="item_text">생일 관리</span>
                                        <button id="goFriendsManagement" type="button" class="btn_edit">
                                            <span class="text">확인</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item delivery">
                                        <span class="item_text">배송지 관리</span>
                                        <button id="goManageShippingAddr" type="button" class="btn_edit">
                                            <span class="text">확인</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item person">
                                        <span class="item_text">개인정보 이용내역</span>
                                        <button id="personalInfoHistoryButton" type="button" class="btn_edit">
                                            <span class="text">확인</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <!--회원탈퇴-->
                    <div class="subindex_link">
                        <div class="drop_link">
                            <a href="javascript:;" class="btn_link" onclick="goMemberDelete()">
                                <span class="text">회원탈퇴</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //container -->
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/sessionManager.js"></script>

<script>
    // 페이지 로드 시 토큰 초기화
    checkPageAccess('USER');

    window.onload = async function () {
        await initializeToken();
        fetchData('/mypage/info', getMyPageInfo);
    };

    function getMyPageInfo(data) {
        document.getElementById('userId').innerText = "ID : " + data.userId;
        document.getElementById('userName').innerText = data.name;
        document.getElementById('name').innerText = data.name;
        document.getElementById('email').innerText = data.email;
        document.getElementById('userEmail').innerText = data.email;
        document.getElementById('userAddr').innerText = "[ " + data.zipCode + " ] " + data.defaultAddr + " " + data.detailAddr;
        document.getElementById('rgstDate').innerText = "가입일 : " + data.rgstDate;
        document.getElementById('rankType').innerText = "등급 : " + data.rankType;
        document.getElementById('userPhone').innerText = data.phone;
    }



</script>

</html>