<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/myPageInfo.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/1018dd7e055bc4cc.css">
</head>

<body id="mainBody" class="bgother">
    <header th:replace="/main/header.html :: div"></header>
    <div id="wrap" class="wrap naverid">
        <header class="header">
            <div class="header_subindex" style="margin-top: 33px;">
                <!--프로필-사진,아이디,메일주소-->
                <div class="profile_area">
                    <div class="profile_inner">
                        <a href="#" onclick="changeImage()" class="photo" style="margin: 20px;">
                            <img src="/images/noImg.png" width="84" height="84" alt="프로필 이미지">
                            <span class="photo_edit"></span>
                        </a>
                        <div class="profile">
                            <p class="useid" style="margin-bottom: 5px">최신형</p>
                            <p class="usemail">tlsgudrhfem@naver.com</p>
                        </div>

                    </div>
                </div>
                <!-- end 프로필 -->
                <div id="headerLeft" class="header_left" aria-hidden="false">
                    <ul class="left_menu" role="menu">
                        <li>
                            <a href="/user/mypage/info" class="left_item" role="menuitem" aria-current="true">
                                <div class="menu_text">내 프로필</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/reserve" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text ">예약 내역</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/wish" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text on">찜한 여행지</div>
                            </a>
                        </li>
                        <li>
                            <a href="/user/mypage/review" class="left_item" role="menuitem" aria-current="">
                                <div class="menu_text">리뷰 내역</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="left_link">
                        <li>
                            <a href="https://nca.naver.com/chat/account/view" class="left_item"
                                onclick="nclk(this,'fot.smartbot','','',event)">
                                <div class="link_text">문의하기</div>
                            </a>
                        </li>
                    </ul>
                    <!-- footerLeft -->
                    <footer class="left_footer" role="contentinfo">
                        <ul class="left_guide">
                            <li><a href="javascript:;" onclick="logout()" class="left_item">
                                    <div class="footer_text">로그아웃</div>
                                </a></li>
                            <li><a href="javascript:;" onclick="goHelpPage()" class="left_item">
                                    <div class="footer_text">고객센터</div>
                                </a></li>

                        </ul>
                        <div class="footer_logo"><span class="logo"><span class="blind">SESK</span></span></div>
                    </footer>
                    <!-- //footerLeft -->
                </div>
                <!--//-->
            </div>
        </header>
        <div id="container" class="container">
            <!-- container -->
            <div id="content" class="content">
                <div class="subindex_wrap" role="main">
                    <div id="headerTop" class="path_area" aria-hidden="false">
                    </div>
                    <div class="info_title" style="margin-bottom: 20px;">
                        <h2 class="title_text">전체 2개 찜한 목록입니다.</h2>
                    </div>
                    <div class="subindex_item">
                        <div class="subindex_greenbox" style="box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, 0.08);
    border: solid 1px #e3e9ed;">
                            <div class="myprofile">
                                <ul class="myinfo_area">
                                    <li>
                                        <div class="myphoto">
                                            <img src="/images/noImg.png" width="56" height="56" alt="내 프로필 이미지">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="myaccount">
                                            <div class="myname">
                                                <div class="name_text">테스트 서울 호텔</div>
                                                <span id="phoneNoRegSpan" class="item_text">2024.07.19 (금) ~ 2024.07.20
                                                    (토) | 1박, 성인 2명 | 객실 1개</span>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="subindex_row">
                                <li>
                                    <div class="row_item mail ">
                                        <span id="myLetterEmailRegSpan" class="item_text">평점 9.3 매우 좋음</span>
                                    </div>
                                </li>
                                <li>
                                    <div id="phoneNoRegDiv" class="row_item phone ">
                                        <span id="phoneNoRegSpan" class="item_text">1박(세금 미포함) : 230,578원 ~ </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!--//-->
                    <!--프로모션 정보수신 동의-->
                    <div class="subindex_item">

                        <!-- <div class="subindex_box">
                            <ul class="subindex_row">
                                <li>
                                    <div class="row_item phone">
                                        <span class="item_text">가입일 : 2024-07-18</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="row_item mail">
                                        <span class="item_text">랭크 : BRONZE</span>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <div class="subindex_item">
                            <div class="subindex_greenbox" style="box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, 0.08);
    border: solid 1px #e3e9ed;">
                                <div class="myprofile">
                                    <ul class="myinfo_area">
                                        <li>
                                            <div class="myphoto">
                                                <img src="/images/noImg.png" width="56" height="56" alt="내 프로필 이미지">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="myaccount">
                                                <div class="myname">
                                                    <div class="name_text">테스트 서울 호텔</div>
                                                    <span id="phoneNoRegSpan" class="item_text">2024.07.19 (금) ~
                                                        2024.07.20
                                                        (토) | 1박, 성인 2명 | 객실 1개</span>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="subindex_row">
                                    <li>
                                        <div class="row_item mail ">
                                            <span id="myLetterEmailRegSpan" class="item_text">평점 9.3 매우 좋음</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="phoneNoRegDiv" class="row_item phone ">
                                            <span id="phoneNoRegSpan" class="item_text">1박(세금 미포함) : 230,578원 ~ </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- //container -->
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>

</html>